@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Send My Password");

    // Handle posting of the form
    ForgotPasswordForm formDo = new ForgotPasswordForm(Request.Form);
    if (IsPost)
    {
        formDo.ProcessForm();
    }
}
@section head
{
	<script src="@Href("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#frm").validate(
			{
			    messages:
				{
				    txtAccEmail: { required: "Email is required", email: "Invalid Email" }
				}
			});
	    });
	</script>
}
	<!-- PAGE -->
	<div id="page">
		<div id="leftSide">
			<h1>@Html.Raw(Page.SitePage.Heading)</h1>
            @Html.Raw(Page.SitePage.Body)
            <form id="frm" method="post" class="basicForm">
                <fieldset style="width:330px;">
                    @if( ( formDo.ResultCode != Sancsoft.Web.RC.Ok ) || !formDo.ProcessedPost )
                    {
                        if( formDo.ResultCode != Sancsoft.Web.RC.Ok )
                        {
                            <div style="font-weight:bold;color:Red;">@formDo.ResultTitle( )</div>
                            <p style="color:Red;">@formDo.ResultMessage( )</p>
                        }
                        <div>
                            <label for="txtAccEmail">E-Mail Address: *</label><br />
                            <input type="text" name="txtAccEmail" class="required email" maxlength="128" value="@Request["txtAccEmail"]" style="width:300px;" />
                        </div>
                        <br style="clear:left;" />
                        <br />
                        <div class="orangeArrowButtonRight">
                            <input type="submit" name="_btnSubmit" value="Submit" class="button" />
                        </div>
                        <div class="orangeButtonRight">
                            <input type="button" name="_btnCancel" value="Cancel" class="button" onclick="javascript: window.location = '/AccountLogin';" />
                        </div>
                    }
                    else
                    {
                        // form submission completed
                        <div style="width:250px;">Thank you. Your account information has been sent to your account email address.</div>
                    }
                    <br style="clear:left;" />
                </fieldset>
            </form>
		</div>
		@RenderPage( "~/Shared/_RightColumn.cshtml" )
		<br style="clear:left;" />
	</div>
