@{
    Layout = "~/Shared/_Layout.cshtml";

    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage(PageContext.Page.VirtualPath);

    // Handle posting of the form
    ContactUsForm formDo = new ContactUsForm( Request.Form );
    if( IsPost )
    {
        formDo.ProcessForm( );
    }
}
@section head
{
	<script src="@Href( "~/Scripts/jquery.validate.min.js" )" type="text/javascript"></script>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#frm").validate(
			{
			    messages:
				{
				    txtConFName: { required: "required" },
				    txtConLName: { required: "required" },
				    emlConEMail: { required: "required", email: "invalid" },
				    txtConComments: { required: "required" }
				}
			});
	    });
	</script>
}
	<!-- PAGE -->
	<div id="page">
		<div id="leftSide">
			<h1>@Html.Raw( Page.SitePage.PageParentHeading )</h1>
			<h2>@Html.Raw( Page.SitePage.Heading )</h2>
            @Html.Raw( Page.SitePage.Body )
            <!-- CONTACT US FORM -->
            <form id="frm" method="post" class="basicForm">
                <fieldset style="margin:0px auto;">
                @if( ( formDo.ResultCode != Sancsoft.Web.RC.Ok ) || !formDo.ProcessedPost )
                {
                    if( formDo.ResultCode != Sancsoft.Web.RC.Ok )
                    {
                        <div style="font-weight:bold;color:Red;">@formDo.ResultTitle( )</div>
                        <p style="color:Red;">@formDo.ResultMessage( )</p>
                    }
                    <div>
                        <label for="txtConFName">First Name</label><br />
                        <input type="text" name="txtConFName" class="required" maxlength="50" value="@Request["txtConFName"]" />
                    </div>
                    <div>
                        <label for="txtConLName">Last Name</label><br />
                        <input type="text" name="txtConLName" class="required" maxlength="50" value="@Request["txtConLName"]" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="emlConEMail">E-Mail Address <span class="footnote" style="padding-right:45px;">(We will not post or disclose this to anyone else for any reason)</span></label><br />
                        <input type="email" name="emlConEMail" class="required email" maxlength="128" style="width:300px;" value="@Request["emlConEMail"]" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div style="margin-right:75px;">
                        <label for="radConMember">Are you a UTC member?</label><br />
                        <input type="radio" name="radConMember" value="1" style="width:20px; margin:0px; padding:3px 0px 3px 0px; font-size:14px;" /> Yes
                        <input type="radio" name="radConMember" value="0" style="width:20px; margin:0px; padding:3px 0px 3px 0px; font-size:14px;" checked /> No
                    </div>
                    <div>
                        <label for="radConPartner">Are you a UTC business partner?</label><br />
                        <input type="radio" name="radConPartner" value="1" style="width:20px; margin:0px; padding:3px 0px 3px 0px; font-size:14px;" /> Yes
                        <input type="radio" name="radConPartner" value="0" style="width:20px; margin:0px; padding:3px 0px 3px 0px; font-size:14px;" checked /> No
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div style="width:500px;">
                        <label for="txtConComments">Your Message</label><br />
                        <textarea name="txtConComments" rows="4" cols="30" class="required">@Request["txtConComments"]</textarea>
                    </div>
                    <br style="clear:left;" />
                    <br style="clear:left;" />
                    <div class="orangeButtonLeft" style="margin-left:150px;">
                        <input type="submit" name="_btnSubmit" value="Submit My Message" class="button" />
                    </div>
                    <br style="clear:both;" />
                }
                else
                {
                    // form submission completed
                    <p>Thank you. Your information has been successfully recorded.</p>
                }
                </fieldset>
            </form>
		</div>
		@RenderPage( "~/Shared/_RightColumn.cshtml" )
		<br style="clear:left;" />
	</div>