@{
    // restore the multi-page form processing object
    RegisterMember fh = (RegisterMember)Session["objRegisterMember"];

    if( fh == null || fh.AccEMail == null )
    {
        Layout = null;
        Response.Redirect( Href( "~/JoinUs" ), false );
       
        return;
    }

    // this page needs SSL if it is available (we're in production)
    if (SSL.ForceSSL())
    {
        Layout = null;
        return;
    }

    Layout = "~/Shared/_Layout.cshtml";

    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage(7);

    // open a connection to the database
    WebDBContext db = new WebDBContext( );

    //get the states for the state dropdownlist( only US states for now )
    var rsSta = db.TblStates.Where( target => target.CtrID == 186 ).OrderBy( target => target.StaName ).ToList( );

    fh.ResultCode = Sancsoft.Web.RC.Ok;
    
    // process postbacks of the form
    if (IsPost)
    {
        if (fh.ProcessBillingInfo(Request.Form))
        {
            Response.Redirect( Href( "~/JoinUsConfirmation" ), false );
        }
    }
}
@section head
{
	<script src="@Href( "~/Scripts/jquery.validate.min.js" )" type="text/javascript"></script>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#frm").validate(
			{
			    messages:
				{
				    radPrdID: { required: "required" },
				    txtSubBillCardNumber: { required: "required" },
				    selSubBillExpMonth: { required: "required" },
				    selSubBillExpYear: { required: "required" },
                    txtSubBillCVV: { required: "required" },
				    txtSubBillFName: { required: "required" },
				    txtSubBillLName: { required: "required" },
				    txtSubBillAddress: { required: "required" },
				    txtSubBillCity: { required: "required" },
				    selSubBillState: { required: "required" },
				    txtSubBillZip: { required: "required" }
				}
			});
	    });
	</script>
}
	<!-- PAGE -->
	<div id="page">
		<div class="breadcrumbs">
			<div class="breadcrumbGray"><a href="@Href( "~/JoinUs" )">Create Account</a></div>
			<div class="breadcrumbSpacerGrayOrange">&nbsp;</div>
			<div class="breadcrumbOrange">Billing Info</div>
			<div class="breadcrumbSpacerOrangeGray">&nbsp;</div>
			<div class="breadcrumbGray">Review</div>
			<div class="breadcrumbEndGray">&nbsp;</div>
			<br style="clear:left;" />
		</div>
		<div id="leftSide">
			<h1>Join Us</h1>
            @if( fh.ResultCode != Sancsoft.Web.RC.Ok )
            {
                <div style="font-weight:bold;color:Red;">@fh.ResultTitle( )</div>
                <p style="color:Red;">@fh.ResultMessage( )</p>
            }
			<div class="hrGray"></div>
            <h2>Choose a billing option...</h2>
            <form id="frm" method="post" class="basicForm">
                <fieldset style="margin:0px auto;"><legend />
                    <div>
                        <label for="radPrdID"></label>
                        <input type="radio" name="radPrdID" class="required" value="1" @((fh.PrdID != 2 ) ? " checked": "") style="width:20px; margin:0px; padding:3px 0px 3px 0px; font-size:14px;" /> Monthly / $9.99
                    </div>
                    <div style="width:370px; margin-right:0px;">
                        <input type="text" id="txtPromoCode" name="txtPromoCode" value="@(fh.PromoCode)" placeholder="PROMO CODE?" style="float:Right; width:144px; margin:0px;" />
                        <label for="txtPromoCode" style="float:right;line-height:30px;margin-right:5px;">Promo Code:</label>
                    </div>
                    <br style="clear:left;" />
                    <br />
			        <div class="hrGray" style="margin-bottom:20px;">&nbsp;</div>
                    <br />
                    <h2>Billing Details...</h2>
                    <br />
                    <div style="padding-right:20px;" class="CreditCardError">
                        <label for="txtSubBillCardNumber">Credit Card<img src="@Href( "~/images/creditcards.jpg" )" width="103" height="19" alt="" border="0" style="position:absolute; top:-4px; left:75px;" /></label>
                        <br />
                        <input type="text" name="txtSubBillCardNumber" class="required" maxlength="20" value="@fh.SubBillCardNumber" style="width:152px;" />
                    </div>
                    <div>
                        <label for="selSubBillExpMonth selSubBillExpYear">Expiration</label><br />
                        <select id="selSubBillExpMonth" name="selSubBillExpMonth" class="required">
                            <option value="">Month</option>
                            @for( int i=1; i <= 12; i++ )
                            {
                                <option value="@(i)" @((fh.SubBillExpMonth == i ) ? " selected" : "" )>@(i)</option>
                            }
                        </select>
                        <select id="selSubBillExpYear" name="selSubBillExpYear" class="required">
                            <option value="">Year</option>
                            @for( int i = 0; i <= 10; i++ )
                            {
                                <option value="@(DateTime.Today.Year + i )" @(( fh.SubBillExpYear == DateTime.Today.Year + i ) ? " selected" : "")>@(DateTime.Today.Year + i)</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label for="txtSubBillCVV">CVV</label><br />
                        <input type="text" name="txtSubBillCVV" value="@fh.SubBillCVV" class="required" style="width:74px;" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtSubBillFName">First Name</label><br />
                        <input type="text" name="txtSubBillFName" class="required" maxlength="50" value="@fh.SubBillFName"/>
                    </div>
                    <div>
                        <label for="txtSubBillLName">Last Name</label><br />
                        <input type="text" name="txtSubBillLName" class="required" maxlength="50" value="@fh.SubBillLName"/>
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtSubBillAddress">Billing Address</label><br />
                        <input type="text" name="txtSubBillAddress" class="required" maxlength="128" value="@fh.SubBillAddress" style="width:360px;" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtSubBillCity">City</label><br />
                        <input type="text" name="txtSubBillCity" class="required" maxlength="50" value="@fh.SubBillCity"/>
                    </div>
                    <div>
                        <label for="selSubBillState">State</label><br />
                        <select id="selSubBillState" name="selSubBillState" class="required">
                            <option value="">Select...</option>
                            @foreach( var sta in rsSta )
                            {
                                <option value="@(sta.StaAbbr)" @(( fh.SubBillState == sta.StaAbbr ) ? " selected" : "" )>@Html.Raw( sta.StaName )</option>
                            }
                        </select>
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtSubBillZip">Zip Code</label><br />
                        <input type="text" name="txtSubBillZip" class="required" maxlength="20" value="@fh.SubBillZip" style="width:130px;" />
                    </div>
                    <div style="width:300px;">
                        <label>&nbsp;</label><br />
                        UTC is currently only available in the United States.<br />If you are located in another country and intrested in UTC, please <a href="@Href( "~/" )">contact us</a>
                    </div>
                    <br style="clear:left;" />
                    <br style="clear:left;" />
                    <div class="orangeArrowButtonRight">
                        <input type="submit" name="_btnSubmit" value="Continue" class="button" />
                    </div>
        			<div class="orangeBackButtonRight" style="margin-left:30px;margin-top:10px;"><a href="@Href( "~/JoinUs" )">BACK</a></div>
                    <br style="clear:both;" />
                </fieldset>
            </form>
		</div>
		@RenderPage( "~/Shared/_RightColumn.cshtml" )
		<br style="clear:left;" />
	</div>