@{
    Layout = "~/Shared/_Layout.cshtml";

    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage(PageContext.Page.VirtualPath);

    // this page needs SSL if it is available (we're in production)
    if ( SSL.ForceSSL() )
    {
        return;
    }
    
    // create or restore the multi-page form processing object
    RegisterMember fh = (RegisterMember)Session["objRegisterMember"];
    if (fh == null)
    {
        fh = new RegisterMember();
        Session.Add("objRegisterMember", fh);
    }

    fh.ResultCode = Sancsoft.Web.RC.Ok;
    
    // process postbacks of the form
    if (IsPost)
    {
        if (fh.ProcessCreateAccount(Request.Form))
        {
            if ( fh.ProcessFreeBillingInfo(Request.Form))
            {
                if ( fh.ProcessFreeConfirmation(Request.Form))
                {
                    Response.Redirect(Href("~/JoinUsThankYou"), false);
                }
            }
        }
    }
        
}
@section head
{
	<script src="@Href( "~/Scripts/jquery.validate.min.js" )" type="text/javascript"></script>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#frm").validate(
			{
			    messages:
				{
				    txtAccFName: { required: "required" },
				    txtAccLName: { required: "required" },
				    txtAccZip: { required: "required" },
				    selAccGender: { required: "required" },
				    txtAccBirthdate: { required: "required", date: "Enter a date mm/dd/yyyy" },
				    chkAgree: { required: "required" },
				    emlAccEMail: { required: "required", email: "invalid" }
				}
			});
	    });
	</script>
}
	<!-- PAGE -->
	<div id="page">
		<div id="leftSide">
			<h1>@Html.Raw( Page.SitePage.PageParentHeading )</h1>
			<h2>@Html.Raw( Page.SitePage.Heading )</h2>
            @Html.Raw( Page.SitePage.Body )
            <!-- JOIN FORM -->
            @if( fh.ResultCode != Sancsoft.Web.RC.Ok )
            {
                <div style="font-weight:bold;color:Red;">@fh.ResultTitle( )</div>
                <p style="color:Red;">@fh.ResultMessage( )</p>
            }
            <form id="frm" method="post" class="basicForm">
                <fieldset style="margin:0px auto;">
                    <div>
                        <label for="txtAccFName">First Name</label><br />
                        <input type="text" name="txtAccFName" class="required" maxlength="50" value="@fh.AccFName" />
                    </div>
                    <div>
                        <label for="txtAccLName">Last Name</label><br />
                        <input type="text" name="txtAccLName" class="required" maxlength="50" value="@fh.AccLName" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="emlAccEMail">E-Mail</label><br />
                        <input type="email" name="emlAccEMail" class="required email" maxlength="128" value="@fh.AccEMail" />
                    </div>
                    <div>
                        <label for="selAccGender" >Gender</label><br />
                        <select name="selAccGender" class="required">
                            <option value="">Select...</option>
                            <option value="F" @((fh.AccGender == "F") ? " selected" : "")>Female</option>
                            <option value="M" @((fh.AccGender == "M") ? " selected" : "")>Male</option>
                            <option value="?" @((fh.AccGender == "?") ? " selected" : "")>Unspecified</option>
                        </select>
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtAccZip">Zip Code</label><br />
                        <input type="text" name="txtAccZip" class="required" maxlength="10" value="@fh.AccZip" />
                    </div>
                    <div>
                        <label for="txtAccBirthdate">Date of Birth</label><br />
                        <input type="text" name="txtAccBirthdate" class="required date" maxlength="50" value="@fh.DateOfBirthDisplay()" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div style="width:330px;">
                        <input type="checkbox" name="chkAgree" value="1" class="required" style="width:20px; border:1px solid #999999; padding:5px 5px 5px 5px; margin:0px;" />
                        <label for="chkAgree">&nbsp;&nbsp;I agree to UTC's <a href="@Href("~/TermsAndConditions")" style="font-size:14px;">Terms &amp; Conditions</a></label>
                    </div>
                    <br style="clear:left;" />
                    <br style="clear:left;" />
                    <div>
                        <label for="txtPromoCode">Promo Code</label><br />
                        <input type="text" id="txtPromoCode" name="txtPromoCode" value="@(fh.PromoCode)" placeholder="PROMO CODE?" maxlength="20" />
                    </div>

                    <div class="orangeArrowButtonRight">
                        <input type="submit" name="_btnSubmit" value="Join Now" class="button" style="margin-top:15px;" />
                    </div>
                    <br style="clear:both;" />
                    <legend/>
                </fieldset>
            </form>
		</div>
		@RenderPage( "~/Shared/_RightColumn.cshtml" )
		<br style="clear:left;" />
	</div>