@{
    Layout = "~/Shared/_Layout.cshtml";

    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage();

    // identify the target location for the detailed view
    int locID = WebConvert.ToInt32(UrlData[0], 0);

    // get the detailed information regarding the business and location
    SiteLocationInfo siteLocationInfo = new SiteLocationInfo(locID);
    SiteBusiness siteBusiness = new SiteBusiness(siteLocationInfo.BusID);

    // null out the objects if the user is not logged in
    SiteAccount siteAccount = null;
    SiteMember siteMember = null;
    SiteLocationContext siteLocationContext = null;
    Tip memberTip = null;
    int memberCurrentRating = 0;
    bool memberFavorite = false;
    bool isRedeemed = false;

    // if the user is logged in - create context objects for display
    if (SiteAccount.IsLoggedIn())
    {
        siteAccount = new SiteAccount();
        siteMember = new SiteMember();
        siteLocationContext = new SiteLocationContext(siteMember.AccID, locID);

        // get the member's tip or a blank tip if none has been previously provided
        memberTip = siteMember.GetTip(locID);

        // get the current member's rating for this locations
        memberCurrentRating = Rating.Get(siteMember.AccID, locID);
        memberFavorite = Favorite.IsFavorite(siteMember.AccID, locID);
        isRedeemed = siteLocationContext.IsRedeemed;
    }
    
    // set the meta-tags based on the business and location information
    Page.SitePage.Title = siteLocationInfo.BusName + ": Unite This City (" + siteLocationInfo.CitName + ")";
    Page.SitePage.Keywords = "Unite This City, " + siteLocationInfo.CitName + ", " + siteLocationInfo.BusName;
    Page.SitePage.Description = siteLocationInfo.BusSummary;
    // configure the facebook hint graphics - always use the production url, not the settings url to avoid cache issues
    // with facebook pointing to local or development servers
    string busImage = siteLocationInfo.ImageUrl(true);
    Page.SitePage.OpenGraphImageURI = "http://www.unitethiscity.com" + busImage;
    Page.SitePage.SecureOpenGraphImageURI = "https://www.unitethiscity.com" + busImage;
    
    WebDBContext db = new WebDBContext();

    // get all of the business location tips
    var rsTip = db.VwTips.Where(target => target.LocID == locID).OrderByDescending(target => target.TipTS);

    // get the upcoming specials and events
    IEnumerable<VwEvents> rsEvt = db.VwEvents.Where(target => target.BusID == siteLocationInfo.BusID && target.EvtEndDate >= DateTime.Today).OrderBy(target => target.EvtStartDate);

    // build the webgrid for display of the events
    WebGrid evtGrid = new WebGrid(rsEvt, fieldNamePrefix: "evt");

    if (IsPost)
    {
        string formTip = WebConvert.ToString(Request.Form["hidFormTip"], "");
        string formRateIt = WebConvert.ToString(Request.Form["hidFormRateIt"], "");
        string formFavorite = WebConvert.ToString(Request.Form["hidFormFavorite"], "");

        if (formTip != "")
        {
            string txtTipText = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtTipText"], ""), 4096);

            // save the tip
            memberTip.TipText = txtTipText;
            memberTip.SaveChanges();

            // redirect back to the details page
            Response.Redirect(Href("~/Directory/Business/" + locID), false);
            return;
        }

        if (formRateIt != "")
        {
            int lngRating = WebConvert.ToInt32(Request.Form["hidLngRating"], 0);

            // save the rating
            siteMember.SubmitRating(locID, lngRating);

            // redirect back to the details page
            Response.Redirect(Href("~/Directory/Business/" + locID), false);
            return;
        }

        if (formFavorite != "")
        {
            string action = WebConvert.ToString(Request.Form["hidFormFavorite"], "");

            // are we adding a favorite or removing a favorite'
            if (action == "Add")
            {
                siteMember.AddFavorite(locID);
            }
            else
            {
                siteMember.RemoveFavorite(locID);
            }

            // redirect back to the details page
            Response.Redirect(Href("~/Directory/Business/" + locID), false);
            return;
        }
    }
}
@section head
{
	<script src="@Href("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var lightboxcontent = $("#LightBoxContent");
            var blackbackground = $("#Background");
            var btnrateit = $(".RateIt");
            var btnfavorite = $(".Favorite");
            var btntip = $(".BtnTip");
            var $starrating = $(".StarRating");

            //Display the lightbox with rate info
            btnrateit.click(function (e) {
                var memberCurrentRating = '@memberCurrentRating';

                $starrating.bind({
                    mouseenter: function () {
                        $(this).prevAll().children().hide();
                        $(this).children().hide();
                        $(this).nextAll().children().show();
                    },
                    click: function() {
                        var lngRate = $(this).attr("data-rating");

                        $("#hidLngRating").val(lngRate);

                        $("#frmRateIt").submit();
                    }
                });

                blackbackground.css({ "opacity": "0.9" }).fadeIn("slow");
                $("#RateBusiness").show();
                lightboxcontent.center().fadeIn("slow");

                // default to the current members rating
                $("div[data-rating='" + memberCurrentRating + "']").trigger("mouseenter");
            });

            //Display the lightbox with tip info
            btntip.click(function (e) {
                blackbackground.css({ "opacity": "0.9" }).fadeIn("slow");
                $("#BusinessTip").show();
                lightboxcontent.center().fadeIn("slow");

            });

            //close the lightbox using the close icon
            $(".LightBoxClose").click(function () {
                blackbackground.fadeOut("slow");
                lightboxcontent.fadeOut("slow");

                $("#RateBusiness").fadeOut("slow");
                $("#BusinessTip").fadeOut("slow");
            });

            // click the favorite button
            btnfavorite.bind({
                click: function () {
                    $("#frmFavorite").submit();
                }
            });

            // validate the add tip form
            $("#frmTip").validate(
			{
			    messages:
				{
				    txtTipText: { required: "required" }
				}
			});
        });

        //center images on black background
        jQuery.fn.center = function () {
            this.css("position", "fixed");
            this.css("top", "100px");
            this.css("left", ($(window).width() - this.width()) / 2 + $(window).scrollLeft() + "px");
            return this;
        }
    </script>
}
	<!-- PAGE -->
	<div id="page">
        <!-- BREAD CRUMBS -->
        <div class="breadcrumbs Roles">
            <div class="breadcrumbGray"><a href="@Href("~/Directory/Businesses")">Business Directory</a></div>
			<div class="breadcrumbEndGray">&nbsp;</div>
        </div>
		<div id="fullSide">
			<h1>@siteLocationInfo.BusName</h1>
            @Html.Raw(Page.SitePage.Body)

            <!-- BUSINESS LOCATION BOX  -->
            <div class="dashboardBusinessBox">
                <div class="dashboardBusinessImage"><img src="@siteLocationInfo.ImageUrl(true)" width="200" height="200" alt="@siteLocationInfo.LocName" /></div>
                <div class="dashboardBusinessInfo" style="width:300px;">
                    <div><strong>@(siteLocationInfo.LocationTags().ToUpper())</strong></div>
                    <div>&nbsp;</div>
                    <div>@(siteLocationInfo.LocName)</div>
                    <div>@(siteLocationInfo.LocAddress)</div>
                    <div>@(siteLocationInfo.LocCity + ", " + siteLocationInfo.LocState + " " + siteLocationInfo.LocZip)</div>
                    @if (siteLocationInfo.LocPhone != "")
                    {
                        <br /><div>Tel: @(Phone.Format(siteLocationInfo.LocPhone))</div>
                    }
                    <br />
                    <div>@(siteLocationInfo.BusSummary)</div>
                </div>
                <div style="float:right; width:144px;margin-right:10px;">
                    <!-- CURRENT RATING -->
                    <div style="text-align:center;">
                        <div style=""><img src="@Href("~/images/Ratings/rating" + Rating.ImageNumber(siteLocationInfo.LocRating) + "@2x.png")" width="144" height="24" alt="" /></div>
                        <div style="background-color:white;margin-top:20px; padding:10px; border-radius:10px;">
                            <div style="margin-top:5px;font-size:14px; font-weight:bold;">UTC CASH</div>
                            <div style="margin-top:5px; margin-bottom:5px; font-size:32px;font-weight:bold;">@siteLocationInfo.LocationDealValue()</div>
                            <div style="margin-bottom:5px;font-size:14px;font-weight:bold;">@((isRedeemed) ? "REDEEMED" : "AVAILABLE")</div>
                        </div>
                    </div>
                </div>
                <br style="clear:left;" />
            </div>
            <div style="text-align:right;">
                @if (siteBusiness.BusWebsite != "")
                {
                    <div class="orangeButton" style="margin-right:10px;"><a href="@(siteBusiness.BusWebsite)" target="_blank" class="button">Website</a></div>
                }
                @if (siteBusiness.BusFacebookLink != "")
                {
                    <div class="orangeButton" style="margin-right:10px;"><a href="@(siteBusiness.BusFacebookLink)" target="_blank" class="button">Facebook</a></div>
                }
                @if (siteLocationInfo.LocPhone != "")
                {
                    <div class="orangeButton" style="margin-right:10px;"><a href="tel:@(Phone.Format(siteLocationInfo.LocPhone))" class="button">Call</a></div>
                }
                <div class="orangeButton" style="margin-right:10px;"><a href="@Href("~/Directory/Terms/" + siteLocationInfo.LocID)" class="button">Terms</a></div>
                <div class="orangeButton"><a href="http://maps.google.com/maps?q=@(siteLocationInfo.LocAddress),@(siteLocationInfo.LocCity),@(siteLocationInfo.LocState),@(siteLocationInfo.LocZip)" target="_blank" class="button">Map</a></div>
            </div>
            <!-- MEMBER CONTEXT  -->
            @if (siteAccount != null)
            {
                <h2 style="margin-top:20px;">My Activity</h2>
                <div class="dashboardActivityBox" style="padding-top:10px;padding-bottom:10px;">
                    <div style="float:left;margin-right:10px; ">
                        <div style="text-align:center;">
                            <div style="background-color:white;margin-top:0px; margin-left:10px;padding:10px; border-radius:10px;height:100px;">
                                <img src="@siteAccount.AvatarURL(100)" width="100" height="100" alt="" />
                            </div>
                        </div>
                    </div>
                        
                    <div style="float:left;width:190px; margin-right:10px;">
                        <div style="text-align:center;">
                            <div style="background-color:white;margin-top:0px; padding:10px; border-radius:10px;height:100px;">
                                <div style="font-size:14px; margin-top:5px; font-weight:bold;">MY RATING</div>
                                <div style="margin-top:5px;"><img src="@Href("~/images/Ratings/rating" + Rating.ImageNumber(memberCurrentRating) + "@2x.png")" width="144" height="24" alt="" /></div>
                                <div style="float:right;width:50%;">
                                    <div style="margin-top:5px;font-size:12px;font-weight:bold;">FAVORITE</div>
                                    <div style="margin-bottom:5px;margin-bottom:5px;font-size:20px;font-weight:bold;">@((memberFavorite) ? "Yes" : "No")</div>
                                </div>
                                <div style="width:50%;">
                                    <div style="margin-top:5px;font-size:12px;font-weight:bold;">LEFT A TIP</div>
                                    <div style="margin-bottom:5px;margin-bottom:5px;font-size:20px;font-weight:bold;">@((memberTip.Exists) ? "Yes" : "No")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float:left; width:200px;margin-right:10px;height:auto;">
                        <div style="text-align:center;">
                            <div style="background-color:white;margin-top:0px; padding:10px; border-radius:10px;">
                                <div style="margin-top:5px;font-size:14px; font-weight:bold;">UTC CASH REDEEMED</div>
                                <div style="float:right;width:50%;">
                                    <div style="margin-top:5px;margin-bottom:5px;font-size:24px;font-weight:bold;">@siteLocationContext.RedeemedAllTime.ToString("C0")</div>
                                    <div style="margin-bottom:5px;font-size:14px;font-weight:bold;">All-Time</div>
                                </div>
                                <div style="width:50%;">
                                    <div style="margin-top:5px;margin-bottom:5px;font-size:24px;font-weight:bold;">@siteLocationContext.RedeemedThisMonth.ToString("C0")</div>
                                    <div style="margin-bottom:5px;font-size:14px;font-weight:bold;">This Month</div>
                                </div>
                                <div style="margin-bottom:5px;font-size:10px;font-weight:normal;">Most Recent - @siteLocationContext.LastRedeemedAsString</div>
                            </div>
                        </div>
                    </div>
                    <div style="float:left; width:200px;margin-right:5px;height:auto;">
                        <div style="text-align:center;">
                            <div style="background-color:white;margin-top:0px; padding:10px; border-radius:10px;">
                                <div style="margin-top:5px;font-size:14px; font-weight:bold;">LOYALTY POINTS</div>
                                <div style="float:right;width:50%;">
                                    <div style="margin-top:5px;margin-bottom:5px;font-size:24px;font-weight:bold;">@siteLocationContext.CheckInsAllTime</div>
                                    <div style="margin-bottom:5px;font-size:14px;font-weight:bold;">All-Time</div>
                                </div>
                                <div style="width:50%;">
                                    <div style="margin-top:5px;margin-bottom:5px;font-size:24px;font-weight:bold;">@siteLocationContext.CheckInsThisMonth</div>
                                    <div style="margin-bottom:5px;font-size:14px;font-weight:bold;">This Month</div>
                                </div>
                                <div style="clear:right;margin-bottom:5px;font-size:10px;">Most Recent - @siteLocationContext.LastCheckedInAsString</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both; text-align:right;">
                    <div class="orangeButton" style="margin-right:10px;"><a href="#" class="button RateIt">Rate It</a></div>
                    <div class="orangeButton" style="margin-right:10px;"><a href="#" class="button BtnTip">Add Review</a></div>
                    <div class="orangeButton" style="margin-right:10px;"><a href="#" class="button Favorite">@((memberFavorite) ? "Remove Favorite" : "Add Favorite")</a></div>
                    <form name="frmFavorite" id="frmFavorite" method="post" class="basicForm">
                        <input type="hidden" name="hidFormFavorite" id="hidFormFavorite" value="@((memberFavorite) ? "Remove" : "Add")" />
                    </form>
                </div>
            }
            <!-- SPECIALS AND EVENTS  -->
            <h2 style="margin-top:20px;">Specials and Upcoming Events</h2>
            <div id="EventGridPanel" class="WebGrid">
            @if (rsEvt.Any())
            {
                @evtGrid.GetHtml(
                    columns: evtGrid.Columns(
                    evtGrid.Column("EvtStartDate", "When", format: @<a href="@Href("~/Directory/Event/" + item.EvtID)?loc=@locID" title="View Event">@SiteEvent.EventDateToString(item.EvtStartDate, item.EvtEndDate)</a>, style: "wgWidth20 wgCenter"),
                    evtGrid.Column("EttName", "Type", format: @<a href="@Href("~/Directory/Event/" + item.EvtID)?loc=@locID" title="View Event">@item.EttName</a>, style: "wgWidth15 wgCenter"),
                    evtGrid.Column("EvtSummary", "Summary", format: @<a href="@Href("~/Directory/Event/" + item.EvtID)?loc=@locID" title="View Event">@item.EvtSummary</a>, style: "wgWidth65 wgLeft")
                ),
                    tableStyle: "WebGridTable",
                    headerStyle: "WebGridHeader",
                    rowStyle: "WebGridRow",
                    alternatingRowStyle: "WebGridRowAlt",
                    footerStyle: "WebGridFooter",
                    emptyRowCellValue: "N/A"
                )
            }
            else
            {
                <p>There are currently no specials or upcoming events.  Check back soon or favorite this business to be notified of new events.</p>
            }
            </div>
            <div style="margin-top:25px;">
                <div style="float:right; width:350px;">
                    <h2>Maps &amp; Directions</h2>
                    @{
                        string embedurl = HttpUtility.UrlEncode(siteLocationInfo.LocAddress) + "," + HttpUtility.UrlEncode(siteLocationInfo.LocCity) + "," + HttpUtility.UrlEncode(siteLocationInfo.LocState) + "," + HttpUtility.UrlEncode(siteLocationInfo.LocZip);
                    }
                    @if (Request.QueryString["nomap"] != "1")
                    {
                        <iframe style="border:1px solid black;" width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=@(embedurl)&amp;ieUTF8&hq=&amp;t=m&amp;hnear=@(embedurl)&amp;output=embed&amp;iwloc=near"></iframe>
                    }
                    else
                    {
                        <a href="http://maps.google.com/maps?q=@(siteLocationInfo.LocAddress),@(siteLocationInfo.LocCity),@(siteLocationInfo.LocState),@(siteLocationInfo.LocZip)" target="_blank"><img src="http://maps.googleapis.com/maps/api/staticmap?size=350x350&markers=color:red%7C@(siteLocationInfo.LocLatitude),@(siteLocationInfo.LocLongitude)&maptype=roadmap&zoom=16&sensor=false" style="border:1px solid black;"/></a>
                    }
                    <div style="text-align:right;margin-top:10px; margin-bottom:10px;margin-right:10px;">
                        <div class="orangeButton"><a href="http://maps.google.com/maps?q=@(siteLocationInfo.LocAddress),@(siteLocationInfo.LocCity),@(siteLocationInfo.LocState),@(siteLocationInfo.LocZip)" target="_blank">MAP &amp; DIRECTIONS</a></div>
                    </div>
                </div>
                <div style="width:380px;">
                    <h2>Member Reviews</h2>
                    @if (rsTip.Any())
                    {
                        foreach (var row in rsTip)
                        {
                            <div class="TipBox">
                                <div class="TipText">@Html.Raw(WebConvert.PreserveBreaks(row.TipText))</div>
                                <div class="TipAccount">- @(row.AccFName) @(row.AccLName.Substring(0, 1)), @(row.TipTS.ToShortDateString())</div>
                                
                            </div>
                        }
                    }
                    else
                    {
                        <p>There are currently no reviews for this business.</p>
                    }
                </div>
            </div>
            
	    </div>
        <br style="clear:both;" />
    </div>

@if (siteAccount != null)
{
    <div id="LightBoxContent">
        <div style="position:relative; padding:20px;">
            <div id="RateBusiness">
                <h2>Rate this Business</h2>
                <form name="frmRateIt" id="frmRateIt" method="post" class="basicForm">
                    <div class="StarRating" data-rating="1"><div></div></div>
                    <div class="StarRating" data-rating="2"><div></div></div>
                    <div class="StarRating" data-rating="3"><div></div></div>
                    <div class="StarRating" data-rating="4"><div></div></div>
                    <div class="StarRating" data-rating="5"><div></div></div>
                    <input type="hidden" name="hidLngRating" id="hidLngRating" value="5" />
                    <input type="hidden" name="hidFormRateIt" id="hidFormRateIt" value="frmRateIt" />
                </form>
            </div>
            <div id="BusinessTip">
                <h2>Add a Review</h2>
                <form name="frmTip" id="frmTip" method="post" class="basicForm">
                    <fieldset><legend/>
                        <div>
                            <label for="txtTipText">Review: *</label><br />
                            <textarea name="txtTipText" id="txtTipText" class="required" rows="6" style="width:557px;" >@Html.Encode(memberTip.TipText)</textarea>
                        </div>
                        <br style="clear:left;" />
                        <br />
                        <div style="float:none; margin-right:20px;">
                            <div class="orangeArrowButtonRight">
                                <input type="submit" name="_btnSubmit" value="Submit" class="button" />
                            </div>
                        </div>
                    </fieldset>
                    <input type="hidden" name="hidFormTip" id="hidFormTip" value="frmTip" />
                </form>
            </div>
            <div class="LightBoxClose"></div>
        </div>
    </div>
    <div id="Background"></div>
}