@{
    Layout = "~/Shared/_Layout.cshtml";

    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage();

    // identify the target event for the detailed view
    int evtID = WebConvert.ToInt32(UrlData[0], 0);
    SiteEvent siteEvent = new SiteEvent(evtID);

    // identify the referring location
    int locID = WebConvert.ToInt32(Request.QueryString["loc"], 0);
    
    // get the detailed information regarding the business and location
    SiteLocationInfo siteLocationInfo = (locID != 0) ? new SiteLocationInfo(locID) : null;
    SiteBusiness siteBusiness = new SiteBusiness(siteEvent.BusID);

    WebDBContext db = new WebDBContext();
}
	<!-- PAGE -->
	<div id="page">
        <!-- BREAD CRUMBS -->
        <div class="breadcrumbs Roles">
            <div class="breadcrumbGray"><a href="@Href( "~/Directory/Businesses" )">Business Directory</a></div>
            @if (locID != 0)
            {
                // add breadcrumbs for the location if we have a reference
    			<div class="breadcrumbSpacerGrayGray">&nbsp;</div>
                <div class="breadcrumbGray"><a href="@Href( "~/Directory/Business/" + locID.ToString() )">@siteEvent.BusName</a></div>
            }
			<div class="breadcrumbEndGray">&nbsp;</div>
        </div>
		<div id="fullSide">
            <h3 style="float:right;">@siteEvent.EventDateToString()</h3>
			<h1>@siteEvent.BusName</h1>
            @Html.Raw(Page.SitePage.Body)
            <!-- SPECIALS AND EVENTS  -->
            <h2 style="margin-top:20px;">@siteEvent.EvtSummary</h2>
            <hr />
            <p style="min-height:200px;">@Html.Raw(WebConvert.PreserveBreaks(HttpUtility.HtmlEncode(siteEvent.EvtBody)))</p>
            <div style="text-align:right;margin-top:10px; margin-bottom:10px;margin-right:10px;">
                <div class="orangeButton"><a href="javascript:history.go(-1);" class="button">Back</a></div>
            </div>
	    </div>
        <br style="clear:both;" />
    </div>
}