@{
    Layout = null;

    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Inbox Message");

    // identify the inbox message
    int inbID = WebConvert.ToInt32(Request.QueryString["inb"], 0);
    // get the access token
    string token = WebConvert.ToString(Request.QueryString["tok"], "F7B877C0-C43B-44F6-A1FF-B7A4F7D2AC37");
    Guid guidToken = new Guid(token);

    // default the display values
    string msgFromName = "UTC";
    string msgSummary = "Message Not Found";
    string msgBody = "";
    DateTime msgTS = DateTime.Now;

    WebDBContext db = new WebDBContext();

    VwInboxMessages rsInb = db.VwInboxMessages.SingleOrDefault(target => target.InbID == inbID);
    TblAPITokens rsTok = db.TblAPITokens.SingleOrDefault(target=> target.TokGuid == guidToken);


    if (rsInb != null)
    {
        // confirm that the user has access to this message
        //if ( rsInb.InbToAccID == rsTok.AccID )
        {
            msgFromName = rsInb.MsgFromName;
            msgSummary = rsInb.MsgSummary;
            msgBody = rsInb.MsgBody;
            msgTS = rsInb.MsgTS;

            // mark it as read if not already marked read
            if ( !rsInb.InbRead )
            {
                TblInboxMessages markRead = db.TblInboxMessages.Single(target => target.InbID == inbID);
                markRead.InbRead = true;
                db.SubmitChanges();
            }
        }
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="copyright" content="Copyright (c) 1994-@DateTime.Now.Year - )|( Sanctuary Software Studio, Inc." />
	<meta charset="utf-8" />
    <link rel="Shortcut Icon" href="@Href( "~/favicon.ico" )" />
    <link rel="Stylesheet" href="@Href( "~/Styles/msg2.unitethiscity.css" )" />
	<title>@Page.SitePage.Title</title>
	<meta name="keywords" content="@Page.SitePage.Keywords" />
	<meta name="description" content="@Page.SitePage.Description" />
</head>
<body>
	<div id="inbox">
        <p>@Html.Raw(WebConvert.PreserveBreaks(HttpUtility.HtmlEncode(msgBody)))</p>
	</div>
    @RenderPage( "~/Shared/_Google.cshtml" )
</body>
</html>
