@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Account Change Password");

    // make sure the user is logged in
    if ( !SiteAccount.IsLoggedIn() )
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    SiteAccount siteAccount = new SiteAccount();

    if (IsPost)
    {
        string accCurrentPassword = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtAccCurrentPassword"], ""), 20); 
        string accPassword = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtAccPassword"], ""), 20);
        string accPasswordConfirm = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtAccPasswordConfirm"], ""), 20);

        // save the form values
        siteAccount.AssignNewPassword(accCurrentPassword, accPassword);

        // redirect to the dashboard
        Response.Redirect(Href("~/Account/Dashboard?Msg=ModifyPassword"), false);
        return;
    }
}
@section head
{
	<script src="@Href( "~/Scripts/jquery.validate.min.js" )" type="text/javascript"></script>
	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#frm").validate(
			{
			    rules:
                {
                    txtAccPasswordConfirm: { equalTo: "#txtAccPassword" }
                },
			    messages:
				{
				    txtAccCurrentPassword: { required: "required" },
				    txtAccPassword: { required: "required" },
				    txtAccPasswordConfirm: { required: "required", equalTo: "Must match" }
				}
			});
	    });
	</script>
}
	<!-- PAGE -->
	<div id="page">
		<div id="fullSide">
			<h1>@Html.Raw( Page.SitePage.Heading )</h1>
            @Html.Raw( Page.SitePage.Body )
            <form name="frm" id="frm" method="post" class="basicForm">
                <fieldset style="width:484px;">
                    <div>
                        <label for="txtAccCurrentPassword">Current Password: *</label><br />
                        <input type="password" name="txtAccCurrentPassword" id="txtAccCurrentPassword" class="required" size="30" maxlength="20" value="@Request["txtAccCurrentPassword"]" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtAccPassword">New Password: *</label><br />
                        <input type="password" name="txtAccPassword" id="txtAccPassword" class="required" size="30" maxlength="20" value="@Request["txtAccPassword"]" />
                    </div>
                    <div>
                        <label for="txtAccPasswordConfirm">Confirm Password: *</label><br />
                        <input type="password" name="txtAccPasswordConfirm" id="txtAccPasswordConfirm" class="required" size="30" maxlength="20" value="@Request["txtAccPasswordConfirm"]" />
                    </div>
                    <br style="clear:left;" />
                    <div style="margin-top:5px;"><label style="font-size:12px;">( Min Length: @SiteSettings.GetValue( "PasswordMinLength" ) Characters)</label></div>
                    <br style="clear:left;" />
                    <div style="float:none; margin-right:20px;">
                        <div class="orangeArrowButtonRight">
                            <input type="submit" name="_btnSubmit" value="Submit" class="button" />
                        </div>
                        <div class="orangeButtonRight">
                            <input type="button" name="_btnCancel" value="Cancel" class="button" onclick="javascript: window.location = '/Account/Dashboard';" />
                        </div>
                    </div>
                </fieldset>
            </form>
		</div>
		<br style="clear:left;" />
	</div>