@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Account Dashboard");

    // make sure the user is logged in
    if (!SiteAccount.IsLoggedIn())
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    SiteAccount siteAccount = new SiteAccount();

    // get a list of businesses managed by this user account
    List<SiteBusinessInfo> busList = siteAccount.AccountBusinesses();

    // member support
    SiteMember siteMember = null;
    List<SummaryStats> memberStats = null;
    WebGrid memberWebGrid = null;
    if (siteAccount.IsMember())
    {
        siteMember = new SiteMember();
        memberStats = siteMember.CalculateSummaryStats();
        memberWebGrid = new WebGrid(memberStats, fieldNamePrefix: "mbrStats");
    }
    // subscription support
    SiteSubscription siteSubscription = new SiteSubscription();

    // get the message from the query string ( form submission message )
    string msg = WebConvert.ToString(Request.QueryString["Msg"], "");
}
<!-- PAGE -->
<div id="page">
    <div id="fullSide">
        <h1>@Html.Raw(Page.SitePage.Heading)</h1>
        @Html.Raw(Page.SitePage.Body)

        <!-- DASHBOARD -->
        <!-- NOTIFICATION BOX -->
        @if (msg == "Modify")
        {
            <div class="NotificationBox Green">
                <div class="NotificationMessage">Your account has been updated</div>
                <div class="NotificationClose"></div>
            </div>
            <br />
        }
        @if (msg == "ModifyPassword")
        {
            <div class="NotificationBox Green">
                <div class="NotificationMessage">Your password has been updated</div>
                <div class="NotificationClose"></div>
            </div>
            <br />
        }
        <!-- ACCOUNT BOX  -->
        <div class="dashboardAccountBox">
            <div class="MemberImage"><img src="@siteAccount.AvatarURL(160)" width="160" height="160" alt="" title="Configure your image at Gravatar.com" /></div>
            <div class="QRImage" style="float:right;"><img src="@QRGenerator.ImageURL(Encryption.MemberIdentifierQURI(siteAccount.AccID), 160);" width="160" height="160" alt="Account QR Code" title="Account QR Code" /></div>
            <div class="dashboardBusinessInfo">
                <div class="Name">@(siteAccount.AccFName + " " + siteAccount.AccLName)</div>
                <div>
                    <a href="mailto:<text>@siteAccount.AccEMail</text>">@siteAccount.AccEMail</a>
                </div>
                <div>
                    <span class="Label">Phone:</span> @Phone.Format(siteAccount.AccPhone)
                    <span class="Label" style="padding-left:10px;">Zip:</span> @siteAccount.AccZip
                </div>
                <div>
                    <span class="Label" style="padding-left:0px;">DOB:</span> @siteAccount.AccBirthdate.ToShortDateString()
                    <span class="Label" style="padding-left:10px;">Gender:</span> @siteAccount.AccGender
                </div>
                <div>
                    <span class="Label">Roles:</span>
                    @if (siteAccount.IsAdministrator())
                    {
                        <span class="Role">Administrator</span>
                    }
                    @if (siteAccount.IsMember())
                    {
                        <span class="Role">Member</span>
                    }

                </div>
                <div>&nbsp;</div>
                <div>(@siteAccount.AccID) @siteAccount.AccGuid</div>
                <div><span class="Label">Account Type</span> @siteAccount.AccountTypeName()</div>
            </div>
            <br style="clear:left;" />
        </div>
        <div style="text-align:right;margin-bottom:10px;">
            <div class="orangeButton rightButton"><a href="@Href( "~/Account/OptOut" )" class="button">Opt Outs</a></div>
            <div class="orangeButton rightButton"><a href="@Href( "~/Account/Inbox" )" class="button">Inbox</a></div>
            <div class="orangeButton rightButton"><a href="@Href( "~/Account/ChangePassword" )" class="button">Change Password</a></div>
            <div class="orangeButton rightButton"><a href="@Href( "~/Account/Modify" )" class="button">Update Account</a></div>
            <div class="orangeButton rightButton"><a href="@Href( "~/AccountLogout" )" class="button">Logout</a></div>
        </div>
        @if (siteAccount.IsAdministrator() || (busList.Count() > 0))
        {
            <div style="text-align:right;margin-bottom:10px;">
                <div class="orangeButton rightButton"><a href="@Href( "~/Account/Analytics/" )" class="button">Analytics</a></div>
                @if (siteAccount.IsAdministrator())
                {
                    <div class="orangeButton rightButton"><a href="@Href("~/admin/")" class="button">Administration</a></div>
                }
            </div>
            <br />
        }
        @if (siteSubscription.Valid())
        {
            <h2 style="clear:both; padding-top:10px;">Subscription</h2>
            <div class="dashboardAccountBox">
                <div style="float:left; width:30%;padding-left:10px;">
                    <h3>Product</h3>
                    <div>
                        @siteSubscription.PrdName<br />
                        Promo: @((siteSubscription.ProID > 0) ? siteSubscription.ProName : "n/a")<br />
                        Started: @siteSubscription.SubTSCreate.ToShortDateString()<br />
                    </div>
                </div>
                <div style="float:left; width:30%;">
                    <h3>Billing Address</h3>
                    <div>
                        @siteSubscription.SubBillFName @siteSubscription.SubBillLName<br />
                        @siteSubscription.SubBillAddress<br />
                        @siteSubscription.SubBillCity, @siteSubscription.SubBillState @siteSubscription.SubBillZip
                    </div>
                </div>
                <div style="float:left; width:30%;">
                    <h3>Payment</h3>
                    <div>
                        Card: @siteSubscription.SubBillCardNumber Exp: @siteSubscription.SubBillExpMonth/@siteSubscription.SubBillExpYear<br />
                        Service: @siteSubscription.PtyName @siteSubscription.SubPaymentMethodID <br />
                        Start Date: @siteSubscription.SubBillDate.ToShortDateString()
                    </div>
                </div>
                <br style="clear:left;" />
            </div>
            @* only monthly memberships can be managed through the interface currently *@
            if (siteSubscription.PrdID == 1)
            {
                <div style="text-align:right;margin-bottom:10px;">
                    <div class="orangeButton rightButton"><a href="@Href( "~/Account/CancelSubscription" )" class="button">Cancel Subscription</a></div>
                    <div class="orangeButton rightButton"><a href="@Href( "~/Account/UpdateSubscription" )" class="button">Update Billing</a></div>
                </div>
            }
        }
        <!-- LEFT SIDE BUSINESSES -->
        @if (busList.Count > 0)
        {
            <h2>Businesses</h2>
            <div class="dashboardRoleBox">
                @foreach (SiteBusinessInfo bus in busList)
                {
                    <div class="dashboardBox">
                        <h1>@bus.BusName</h1>
                        <a href="@Href( "~/Business/Default/" + bus.BusID )"><img class="icon" src="@bus.ImageUrl(false)" alt="@bus.BusName" title="@bus.BusName" /></a>
                        <h2>@bus.CatName</h2>
                        <div>@bus.BusFormalName</div>
                        <div>@bus.CitName</div>
                        <div><img src="@Href("~/images/Ratings/rating" + Rating.ImageNumber(bus.BusRating) + ".png")" width="72" height="12" alt="" /></div>
                    </div>
                }
                <br style="clear:left;" />
            </div>
        }
        @if (siteAccount.IsMember())
        {
            <h2 style="clear:both; padding-top:10px;">Membership Activity</h2>
            <div id="WebGridPanel" class="WebGrid">
                @memberWebGrid.GetHtml(
                        columns: memberWebGrid.Columns(
                        memberWebGrid.Column("Name", "Member Activity", format: @<a href="@Href("~/Member/" + item.Link)">@item.Name</a>, style:"wgWidth25 wgLeft"),
                        memberWebGrid.Column("Today", "Today", format: @<text>@item.Today</text>, style:"wgWidth15 wgCenter"),
                        memberWebGrid.Column("PastWeek", "Past Week", format: @<text>@item.PastWeek</text>, style:"wgWidth15 wgCenter"),
                        memberWebGrid.Column("ThisPeriod", "This Month", format: @<text>@item.ThisPeriod</text>, style:"wgWidth15 wgCenter"),
                        memberWebGrid.Column("LastPeriod", "Last Month", format: @<text>@item.LastPeriod</text>, style:"wgWidth15 wgCenter"),
                        memberWebGrid.Column("AllTime", "All Time", format: @<text>@item.AllTime</text>, style: "wgWidth15 wgCenter")
                                                  ),
                                                      tableStyle: "WebGridTable",
                                                      headerStyle: "WebGridHeader",
                                                      rowStyle: "WebGridRow",
                                                      alternatingRowStyle: "WebGridRowAlt",
                                                      footerStyle: "WebGridFooter",
                                                      mode: WebGridPagerModes.All,
                                                      firstText: "First Page",
                                                      lastText: "Last Page",
                                                      numericLinksCount: 10,
                                                      emptyRowCellValue: "N/A"
                                                  )
            </div>
            @RenderPage("~/Shared/_MemberTabs.cshtml")
        }
    </div>
    <br style="clear:left;" />
</div>