@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Inbox");
    
    // make sure the user is logged in
    if ( !SiteAccount.IsLoggedIn() )
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    // get the message from the query string ( form submission message )
    string msg = WebConvert.ToString(Request.QueryString["Msg"], "");
    
    SiteAccount siteAccount = new SiteAccount();
    
    WebDBContext db = new WebDBContext();
    
    // build the webgrid for display
    IEnumerable<VwInboxMessages> rs = (from rows in db.VwInboxMessages where rows.InbToAccID == siteAccount.AccID orderby rows.InbID descending select rows);
    WebGrid webGrid = new WebGrid(rs, rowsPerPage: Convert.ToInt32(SiteSettings.GetValue("DefaultPageSize")));    
}
	<!-- PAGE -->
	<div id="page">
        <!-- BREAD CRUMBS -->
        <div class="breadcrumbs Roles">
            <div class="breadcrumbGray"><a href="@Href( "~/Account/" )">Account Dashboard</a></div>
			<div class="breadcrumbEndGray">&nbsp;</div>
        </div>
		<div id="fullSide">
			<h1>@siteAccount.AccFName @siteAccount.AccLName: @Html.Raw( Page.SitePage.Heading )</h1>
            @Html.Raw( Page.SitePage.Body )
            <!-- NOTIFICATION BOX -->
            @if(msg == "Delete")
            {
                <div class="NotificationBox Green">
                    <div class="NotificationMessage">The message has been deleted.</div>
                    <div class="NotificationClose"></div>
                </div>
                <br />
            }
            @if(msg == "LastPrevious" || msg == "LastNext")
            {
                <div class="NotificationBox Green">
                    <div class="NotificationMessage">End of messages</div>
                    <div class="NotificationClose"></div>
                </div>
                <br />
            }
            <!-- DASHBOARD -->
            <div id="WebGridPanel" class="WebGrid">
                @webGrid.GetHtml(
                    columns: webGrid.Columns(
                    webGrid.Column("MsgFromName", "From", format: @<a href="@Href("~/Account/InboxMessage/"+ @item.InbID)" class="@((item.InbRead)? "read" : "unread")">@item.MsgFromName</a>, style:"wgWidth20 wgLeft"),
                    webGrid.Column("MsgSummary", "Subject", format: @<a href="@Href("~/Account/InboxMessage/"+ @item.InbID)" class="@((item.InbRead)? "read" : "unread")">@(WebConvert.Summarize(item.MsgSummary, 80))</a>, style:"wgWidth60 wgLeft"),
                    webGrid.Column("MsgTS", "Timestamp", format: @@<a href="@Href("~/Account/InboxMessage/"+ @item.InbID)" class="@((item.InbRead)? "read" : "unread")">@(item.MsgTS.ToShortDateString()) - @(item.MsgTS.ToShortTimeString())</a>, style:"wgWidth20 wgLeft")
                ),
                    tableStyle: "WebGridTable",
                    headerStyle: "WebGridHeader",
                    rowStyle: "WebGridRow",
                    alternatingRowStyle: "WebGridRowAlt",
                    footerStyle: "WebGridFooter",
                    mode: WebGridPagerModes.All,
                    firstText: "First Page",
                    lastText: "Last Page",
                    numericLinksCount: 10,
                    emptyRowCellValue: "N/A"
                )
            </div>

		</div>
		<br style="clear:left;" />
	</div>