@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Opt Out");

    // make sure the user is logged in
    if (!SiteAccount.IsLoggedIn())
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    // get the message from the query string ( form submission message )
    string msg = WebConvert.ToString(Request.QueryString["Msg"], "");

    SiteAccount siteAccount = new SiteAccount();

    WebDBContext db = new WebDBContext();

    // build the webgrid for display
    IEnumerable<VwOptOuts> rs = (from rows in db.VwOptOuts where rows.AccID == siteAccount.AccID orderby rows.OptTS select rows);
    WebGrid webGrid = new WebGrid(rs, rowsPerPage: Convert.ToInt32(SiteSettings.GetValue("DefaultPageSize")));
}
<!-- PAGE -->
<div id="page">
    <!-- BREAD CRUMBS -->
    <div class="breadcrumbs Roles">
        <div class="breadcrumbGray"><a href="@Href( "~/Account/" )">Account Dashboard</a></div>
        <div class="breadcrumbEndGray">&nbsp;</div>
    </div>
    <div id="fullSide">
        <h1>@siteAccount.AccFName @siteAccount.AccLName: @Html.Raw(Page.SitePage.Heading)</h1>
        @Html.Raw(Page.SitePage.Body)
        <!-- NOTIFICATION BOX -->
        @if (msg == "Delete")
        {
            <div class="NotificationBox Green">
                <div class="NotificationMessage">The opt out has been deleted.</div>
                <div class="NotificationClose"></div>
            </div>
                <br />
        }
        @if (msg == "LastPrevious" || msg == "LastNext")
        {
            <div class="NotificationBox Green">
                <div class="NotificationMessage">End of opt outs</div>
                <div class="NotificationClose"></div>
            </div>
                <br />
        }
        <!-- DASHBOARD -->
        <div id="WebGridPanel" class="WebGrid">
            @webGrid.GetHtml(
                    columns: webGrid.Columns(
                    webGrid.Column("BusName", "Business", format: @<text>@item.BusName</text>, style: "wgWidth50 wgLeft"),
                    webGrid.Column("OptTS", "Timestamp", format:  @<text>@(item.OptTS.ToShortDateString() + " - " + item.OptTS.ToShortTimeString())</text>, style: "wgWidth30 wgLeft"),
                    webGrid.Column("OptID", "Delete", format: @<a href="javascript: if(confirm('Are you sure you want to delete this opt out?')){ window.location='@Href( "~/Account/OptOutDelete.ashx?optID=" + item.OptID )';}" title="Delete Opt Out">DELETE</a>, style: "wgWidth20 wgCenter")
                ),
                tableStyle: "WebGridTable",
                headerStyle: "WebGridHeader",
                rowStyle: "WebGridRow",
                alternatingRowStyle: "WebGridRowAlt",
                footerStyle: "WebGridFooter",
                mode: WebGridPagerModes.All,
                firstText: "First Page",
                lastText: "Last Page",
                numericLinksCount: 10,
                emptyRowCellValue: "N/A"
            )
        </div>

    </div>
    <br style="clear:left;" />
</div>