@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Business Analytics");

    // make sure the user is logged in
    if (!SiteAccount.IsLoggedIn())
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    SiteAccount siteAccount = new SiteAccount();

    SiteBusiness siteBusiness = new SiteBusiness();

    SiteBusinessInfo siteBusinessInfo = new SiteBusinessInfo(siteBusiness.BusID);

    Analytics analytics = new Analytics();
    analytics.CalculateAll(siteBusiness.BusID);
    WebGrid todayWebGrid = new WebGrid(analytics.today, fieldNamePrefix: "anaToday", rowsPerPage: 100);
    WebGrid pastWeekWebGrid = new WebGrid(analytics.pastWeek, fieldNamePrefix: "anaPastWeek", rowsPerPage: 100);
    WebGrid thisMonthWebGrid = new WebGrid(analytics.thisMonth, fieldNamePrefix: "anaThisMonth", rowsPerPage: 100);
    WebGrid lastMonthWebGrid = new WebGrid(analytics.lastMonth, fieldNamePrefix: "anaLastMonth", rowsPerPage: 100);
    WebGrid allTimeWebGrid = new WebGrid(analytics.allTime, fieldNamePrefix: "anaAllTime", rowsPerPage: 100);

    // get the message from the query string ( form submission message )
    string msg = WebConvert.ToString(Request.QueryString["Msg"], "");
}
<!-- PAGE -->
<div id="page">
    <!-- BREAD CRUMBS -->
    <div class="breadcrumbs Roles">
        <div class="breadcrumbGray"><a href="@Href( "~/Account/" )">Account Dashboard</a></div>
        <div class="breadcrumbSpacerGrayGray">&nbsp;</div>
        <div class="breadcrumbGray"><a href="@Href( "~/Business/Dashboard" )">Business Dashboard</a></div>
        <div class="breadcrumbEndGray">&nbsp;</div>
    </div>
    <div id="fullSide">
        <h1>@HttpUtility.HtmlEncode(siteBusiness.BusName): @Html.Raw(Page.SitePage.Heading)</h1>
        @Html.Raw(Page.SitePage.Body)

        <!-- DASHBOARD -->
        <!-- NOTIFICATION BOX -->

        <h2 style="clear:both; padding-top:10px;">Today</h2>
        <div id="TodayWebGrid" class="WebGrid">
            @todayWebGrid.GetHtml(
                    columns: todayWebGrid.Columns(
                    todayWebGrid.Column("Name", "Member Activity", format: @<text>@item.Name</text>, style: "wgWidth50 wgLeft"),
                    todayWebGrid.Column("Total", "Total", format: @<text>@String.Format("{0:N0}", item.Total)</text>, style: "wgWidth25 wgRight"),
                    todayWebGrid.Column("Percent", "Percent", format: @<text>@String.Format("{0:P1}", item.Percent)</text>, style: "wgWidth25 wgRight")
                                                ),
                                                    tableStyle: "WebGridTable",
                                                    headerStyle: "WebGridHeader",
                                                    rowStyle: "WebGridRow",
                                                    alternatingRowStyle: "WebGridRowAlt",
                                                    footerStyle: "WebGridFooter",
                                                    mode: WebGridPagerModes.All,
                                                    firstText: "First Page",
                                                    lastText: "Last Page",
                                                    numericLinksCount: 50,
                                                    emptyRowCellValue: "N/A"
                                                )
        </div>
        <h2 style="clear:both; padding-top:10px;">Past Week</h2>
        <div id="pastWeekWebGrid" class="WebGrid">
            @pastWeekWebGrid.GetHtml(
                    columns: pastWeekWebGrid.Columns(
                    pastWeekWebGrid.Column("Name", "Member Activity", format: @<text>@item.Name</text>, style: "wgWidth50 wgLeft"),
                    pastWeekWebGrid.Column("Total", "Total", format: @<text>@String.Format("{0:N0}", item.Total)</text>, style: "wgWidth25 wgRight"),
                    pastWeekWebGrid.Column("Percent", "Percent", format: @<text>@String.Format("{0:P1}", item.Percent)</text>, style: "wgWidth25 wgRight")
                                                ),
                                                    tableStyle: "WebGridTable",
                                                    headerStyle: "WebGridHeader",
                                                    rowStyle: "WebGridRow",
                                                    alternatingRowStyle: "WebGridRowAlt",
                                                    footerStyle: "WebGridFooter",
                                                    mode: WebGridPagerModes.All,
                                                    firstText: "First Page",
                                                    lastText: "Last Page",
                                                    numericLinksCount: 50,
                                                    emptyRowCellValue: "N/A"
                                                )
        </div>
        <h2 style="clear:both; padding-top:10px;">This Month</h2>
        <div id="thisMonthWebGrid" class="WebGrid">
            @thisMonthWebGrid.GetHtml(
                    columns: thisMonthWebGrid.Columns(
                    thisMonthWebGrid.Column("Name", "Member Activity", format: @<text>@item.Name</text>, style: "wgWidth50 wgLeft"),
                    thisMonthWebGrid.Column("Total", "Total", format: @<text>@String.Format("{0:N0}", item.Total)</text>, style: "wgWidth25 wgRight"),
                    thisMonthWebGrid.Column("Percent", "Percent", format: @<text>@String.Format("{0:P1}", item.Percent)</text>, style: "wgWidth25 wgRight")
                                                ),
                                                    tableStyle: "WebGridTable",
                                                    headerStyle: "WebGridHeader",
                                                    rowStyle: "WebGridRow",
                                                    alternatingRowStyle: "WebGridRowAlt",
                                                    footerStyle: "WebGridFooter",
                                                    mode: WebGridPagerModes.All,
                                                    firstText: "First Page",
                                                    lastText: "Last Page",
                                                    numericLinksCount: 50,
                                                    emptyRowCellValue: "N/A"
                                                )
        </div>
        <h2 style="clear:both; padding-top:10px;">Last Month</h2>
        <div id="lastMonthWebGrid" class="WebGrid">
            @lastMonthWebGrid.GetHtml(
                    columns: lastMonthWebGrid.Columns(
                    lastMonthWebGrid.Column("Name", "Member Activity", format: @<text>@item.Name</text>, style: "wgWidth50 wgLeft"),
                    lastMonthWebGrid.Column("Total", "Total", format: @<text>@String.Format("{0:N0}", item.Total)</text>, style: "wgWidth25 wgRight"),
                    lastMonthWebGrid.Column("Percent", "Percent", format: @<text>@String.Format("{0:P1}", item.Percent)</text>, style: "wgWidth25 wgRight")
                                                ),
                                                    tableStyle: "WebGridTable",
                                                    headerStyle: "WebGridHeader",
                                                    rowStyle: "WebGridRow",
                                                    alternatingRowStyle: "WebGridRowAlt",
                                                    footerStyle: "WebGridFooter",
                                                    mode: WebGridPagerModes.All,
                                                    firstText: "First Page",
                                                    lastText: "Last Page",
                                                    numericLinksCount: 50,
                                                    emptyRowCellValue: "N/A"
                                                )
        </div>
        <h2 style="clear:both; padding-top:10px;">All Time</h2>
        <div id="pastWeekWebGrid" class="WebGrid">
            @allTimeWebGrid.GetHtml(
                    columns: allTimeWebGrid.Columns(
                    allTimeWebGrid.Column("Name", "Member Activity", format: @<text>@item.Name</text>, style: "wgWidth50 wgLeft"),
                    allTimeWebGrid.Column("Total", "Total", format: @<text>@String.Format("{0:N0}", item.Total)</text>, style: "wgWidth25 wgRight"),
                    allTimeWebGrid.Column("Percent", "Percent", format: @<text>@String.Format("{0:P1}", item.Percent)</text>, style: "wgWidth25 wgRight")
                                                ),
                                                    tableStyle: "WebGridTable",
                                                    headerStyle: "WebGridHeader",
                                                    rowStyle: "WebGridRow",
                                                    alternatingRowStyle: "WebGridRowAlt",
                                                    footerStyle: "WebGridFooter",
                                                    mode: WebGridPagerModes.All,
                                                    firstText: "First Page",
                                                    lastText: "Last Page",
                                                    numericLinksCount: 50,
                                                    emptyRowCellValue: "N/A"
                                                )
        </div>
    </div>
    <br style="clear:left;" />
</div>