@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Business Dashboard");


    // make sure the user is logged in
    if ( !SiteAccount.IsLoggedIn() )
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    SiteBusiness siteBusiness = new SiteBusiness();

    SiteBusinessInfo siteBusinessInfo = new SiteBusinessInfo(siteBusiness.BusID);

    WebDBContext db = new WebDBContext();

    // Get all of the business locations
    var rsLoc = db.VwLocations.Where(target => target.BusID == siteBusiness.BusID).OrderBy(target => target.LocName);

    // Get all of the business pins
    var rsPin = db.TblPins.Where(target => target.BusID == siteBusiness.BusID).OrderBy(target => target.PinNumber);

    // get the message from the query string ( form submission message )
    string msg = WebConvert.ToString(Request.QueryString["Msg"], "");

    // build the webgrid for display from the statistics
    List<SummaryStats> summaryStats = siteBusinessInfo.CalculateSummaryStats();
    WebGrid webGrid = new WebGrid(summaryStats, rowsPerPage: Convert.ToInt32(SiteSettings.GetValue("DefaultPageSize")));

    // build the webgrid for display of the locations
    WebGrid locGrid = new WebGrid(rsLoc, fieldNamePrefix: "loc");

    // build the webgrid for display of the pins
    WebGrid pinGrid = new WebGrid(rsPin, fieldNamePrefix: "pin");

    // opt out grid
    IEnumerable<VwOptOuts> rsOpt = (from rows in db.VwOptOuts where rows.BusID == siteBusiness.BusID orderby rows.OptTS descending select rows);
    WebGrid optGrid = new WebGrid(rsOpt, rowsPerPage: Convert.ToInt32(SiteSettings.GetValue("DefaultPageSize")));

    // get the active deal 
    int perID = Period.IdentifyPeriod(DateTime.Now);
    VwDeals activeDeal = db.VwDeals.SingleOrDefault(target => target.BusID == siteBusiness.BusID && target.PerID == perID);

    // get the assigned deal
    TblDealDefinitions assignedDeal = db.TblDealDefinitions.SingleOrDefault(target => target.DldID == siteBusiness.BusAssignedDldID);

    // get the upcoming specials and events
    IEnumerable<VwEvents> rsEvt = db.VwEvents.Where( target => target.BusID == siteBusiness.BusID && target.EvtEndDate >= DateTime.Today ).OrderBy( target => target.EvtStartDate );

    // build the webgrid for display of the events
    WebGrid evtGrid = new WebGrid( rsEvt, fieldNamePrefix: "evt" );

    // get the menu items
    IEnumerable<TblMenuItems> rsMen = db.TblMenuItems.Where( target => target.BusID == siteBusiness.BusID ).OrderBy( target => target.MenSeq ).ThenBy( target => target.MenName );

    // build the webgrid for display of the events
    WebGrid menGrid = new WebGrid( rsMen, fieldNamePrefix: "men" );

    // get the gallery items
    IEnumerable<TblGalleryItems> rsGal = db.TblGalleryItems.Where( target => target.BusID == siteBusiness.BusID ).OrderBy( target => target.GalSeq );

    // build the webgrid for display of the events
    WebGrid galGrid = new WebGrid( rsGal, fieldNamePrefix: "gal" );

    // get the list of pending message jobs
    IEnumerable<VwMessageJobs> rsMsj = db.VwMessageJobs.Where(target=>target.BusID == siteBusiness.BusID && target.MjsID < (int)MessageJobStates.Sent).OrderBy(target=>target.MsjID);

    // build the webgrid for display of the message jobs
    WebGrid msjGrid = new WebGrid(rsMsj, fieldNamePrefix: "msj");

    long imageTicks = DateTime.Now.Ticks;
}
	<!-- PAGE -->
	<div id="page">
        <!-- BREAD CRUMBS -->
        <div class="breadcrumbs Roles">
            <div class="breadcrumbGray"><a href="@Href( "~/Account/" )">Account Dashboard</a></div>
			<div class="breadcrumbEndGray">&nbsp;</div>
        </div>
		<div id="fullSide">
			<h1>@HttpUtility.HtmlEncode(siteBusiness.BusName)</h1>
            @Html.Raw( Page.SitePage.Body )

            <!-- DASHBOARD -->

            <!-- NOTIFICATION BOX -->
            @if(msg == "Modify")
            {
                <div class="NotificationBox Green">
                    <div class="NotificationMessage">Your business information has been updated</div>
                    <div class="NotificationClose"></div>
                </div>
                <br />
            }

            <!-- BUSINESS LOCATION BOX  -->
            <div class="dashboardBusinessBox">
                <div class="dashboardBusinessImage"><img src="@siteBusinessInfo.ImageUrl(true)" width="200" height="200" alt="@siteBusinessInfo.BusName" /></div>
                <div class="dashboardBusinessInfo" style="width:350px;">
                    <div><strong>@(siteBusiness.CatName.ToUpper())</strong></div>
                    <div>&nbsp;</div>
                    <div>@(siteBusinessInfo.BusFormalName)</div>
                    <div>@(siteBusinessInfo.CitName)</div>
                    <br />
                    <div>Web:<br /><a href="@(siteBusinessInfo.BusWebsite)" target="_blank">@HttpUtility.HtmlEncode(siteBusinessInfo.BusWebsite)</a></div>
                    <div>Facebook: (ID)<br /><a href="@(siteBusinessInfo.BusFacebookLink)" target="_blank">@HttpUtility.HtmlEncode(siteBusinessInfo.BusFacebookLink)</a>&nbsp;
                        @if (siteBusinessInfo.BusFacebookID != "")
                        {
                           <a href="http://www.facebook.com/@(siteBusinessInfo.BusFacebookID)" target="_blank">(@siteBusinessInfo.BusFacebookID)</a>
                        }
                        else
                        {
                            <text>(N/A)</text>
                        }
                    </div>
                    <br />
                    <div>@siteBusinessInfo.BusSummary</div>
                </div>
                <div style="float:right; width:144px;margin-right:10px;">
                    <div style="text-align:right;"><img src="@Href("~/images/Ratings/rating" + Rating.ImageNumber(siteBusinessInfo.BusRating) + "@2x.png")" width="144" height="24" alt="" /></div>
                </div>
                <br style="clear:left;" />
            </div>
            <div style="text-align:right;margin-bottom:10px;">
                <div class="orangeButton" style="margin-right:20px;"><a href="Analytics" class="button">Analytics</a></div>
                <div class="orangeButton" style="margin-right:10px;"><a href="Referrals" class="button">Give Back</a></div>
                <div class="orangeButton rightButton"><a href="@Href( "~/Business/Modify" )" class="button">Edit Business</a></div>
            </div>
            <br />
            <h2>Member Offer</h2>
            <div class="dashboardBusinessBox">
                <div class="dashboardBusinessImage"><img src="@QRGenerator.ImageURL(Encryption.BusinessIdentifierQURI(siteBusinessInfo.BusID), 200)" width="200" height="200" alt="@siteBusinessInfo.BusName" /></div>
                <div class="dashboardBusinessInfo" style="width:300px;">
                    <div><strong>ACTIVE OFFER:</strong></div>
                    @if (activeDeal == null)
                    {
                        <div>No active offer</div>
                    }
                    else
                    {
                        <div>@activeDeal.DelName : @SiteLocationInfo.FormatDealValue(activeDeal.DelAmount, true)</div>
                        <div>@activeDeal.DelCustomTerms</div>
                    }
                    <br />
                    <div><strong>SCHEDULED OFFER:</strong></div>
                    @if (assignedDeal == null)
                    {
                        <div>No assigned offer</div>
                    }
                    else
                    {
                        <div>@assignedDeal.DldName : @SiteLocationInfo.FormatDealValue(assignedDeal.DldAmount, true)</div>
                        <div>@assignedDeal.DldCustomTerms</div>
                    }
                    <br />
                </div>
                <div style="float:right; width:144px;margin-right:10px;">
                    <div style="text-align:center;">
                        <div style="background-color:white;margin-top:5px; padding:10px; border-radius:10px;">
                            <div style="margin-top:5px;font-size:12px; font-weight:bold;">CURRENT OFFER</div>
                            <div style="margin-top:5px; margin-bottom:5px; font-size:32px;font-weight:bold;">@(SiteLocationInfo.FormatDealValue((activeDeal != null) ? activeDeal.DelAmount : 0, true))</div>
                        </div>
                    </div>
                    <div style="text-align:center;">
                        <div style="background-color:white;margin-top:10px; padding:10px; border-radius:10px;">
                            <div style="margin-top:5px;font-size:12px; font-weight:bold;">SCHEDULED OFFER</div>
                            <div style="margin-top:5px; margin-bottom:5px; font-size:32px;font-weight:bold;">@(SiteLocationInfo.FormatDealValue((assignedDeal != null) ? assignedDeal.DldAmount : 0, true))</div>
                        </div>
                    </div>
                </div>
                <br style="clear:left;" />
            </div>
            <h2 style="clear:both; padding-top:10px;">Member Activity</h2>
            <div id="WebGridPanel" class="WebGrid">
                @webGrid.GetHtml(
                    columns: webGrid.Columns(
                    webGrid.Column("Name", "Member Activity",  format: @<a href="@item.Link">@item.Name</a>, style:"wgWidth25 wgLeft"),
                    webGrid.Column("Today", "Today", format: @<text>@item.Today</text>, style:"wgWidth15 wgCenter"),
                    webGrid.Column("PastWeek", "Past Week", format: @<text>@item.PastWeek</text>, style:"wgWidth15 wgCenter"),
                    webGrid.Column("ThisPeriod", "This Month", format: @<text>@item.ThisPeriod</text>, style:"wgWidth15 wgCenter"),
                    webGrid.Column("LastPeriod", "Last Month", format: @<text>@item.LastPeriod</text>, style:"wgWidth15 wgCenter"),
                    webGrid.Column("AllTime", "All Time", format: @<text>@item.AllTime</text>, style:"wgWidth15 wgCenter")
                ),
                    tableStyle: "WebGridTable",
                    headerStyle: "WebGridHeader",
                    rowStyle: "WebGridRow",
                    alternatingRowStyle: "WebGridRowAlt",
                    footerStyle: "WebGridFooter",
                    mode: WebGridPagerModes.All,
                    firstText: "First Page",
                    lastText: "Last Page",
                    numericLinksCount: 10,
                    emptyRowCellValue: "N/A"
                )
            </div>
            @RenderPage( "~/Shared/_BusinessTabs.cshtml" )
            <!-- SPECIALS AND EVENTS  -->
            <br />
            <h2>Specials and Upcoming Events</h2>
            <div id="EventGridPanel" class="WebGrid">
            @if( rsEvt.Any() )
            {
                @evtGrid.GetHtml(
                    columns: evtGrid.Columns(
                    evtGrid.Column("EvtStartDate", "When",  format: @<a href="@Href( "~/Business/Events/" + item.EvtID )" title="Edit Event">@SiteEvent.EventDateToString(item.EvtStartDate, item.EvtEndDate)</a>, style:"wgWidth20 wgCenter"),
                    evtGrid.Column("EttName", "Type",  format: @<a href="@Href( "~/Business/Events/" + item.EvtID )" title="Edit Event">@item.EttName</a>, style:"wgWidth15 wgCenter"),
                    evtGrid.Column("EvtSummary", "Summary",  format: @<a href="@Href( "~/Business/Events/" + item.EvtID )" title="Edit Event">@item.EvtSummary</a>, style:"wgWidth65 wgLeft")
                ),
                    tableStyle: "WebGridTable",
                    headerStyle: "WebGridHeader",
                    rowStyle: "WebGridRow",
                    alternatingRowStyle: "WebGridRowAlt",
                    footerStyle: "WebGridFooter",
                    emptyRowCellValue: "N/A"
                )
            }
            else
            {
                <p>There are currently no specials or upcoming events.  Check the past events to view and modify previous specials and events.</p>
            }
            </div>
            <div style="text-align:right;margin-bottom:10px;">
                <div class="orangeButton" style="margin-right:10px;"><a href="@Href( "~/Business/RecurringEvents" )" class="button">Recurring</a></div>
                <div class="orangeButton" style="margin-right:10px;"><a href="@Href( "~/Business/PastEvents" )" class="button">Past Events</a></div>
                <div class="orangeButton"><a href="@Href( "~/Business/EventsNew" )" class="button">Add Event</a></div>
            </div>

            <!-- MENU ITEMS  -->
            <br />
            <h2>Menu Items</h2>
            <div id="MenuGridPanel" class="WebGrid">
                @if ( rsMen.Any( ) )
                {
                    @menGrid.GetHtml(
                        columns: menGrid.Columns(
                        menGrid.Column( "MenID", "Delete", format: @<a href="javascript: if(confirm('Are you sure you want to delete this menu item?')){ window.location='@Href( "~/Business/MenuItemDelete.ashx?menID=" + item.MenID )';}" title="Delete Item"><img src="/images/RedClose.png" width="16" height="16" alt="Delete" border="0" /></a>, style:"wgWidth10 wgCenter"),
                        menGrid.Column( "MenSeq", "Sequence", format: @<a href="@Href( "~/Business/MenuItemModify/" + item.MenID )" title="Edit Item">@item.MenSeq</a>, style:"wgWidth20 wgCenter"),
                        menGrid.Column( "MenName", "Name", format: @<a href="@Href( "~/Business/MenuItemModify/" + item.MenID )" title="Edit Item">@item.MenName</a>, style:"wgWidth50 wgLeft"),
                        menGrid.Column( "MenPrice", "Price", format: @<a href="@Href( "~/Business/MenuItemModify/" + item.MenID )" title="Edit Item">@item.MenPrice.ToString( "C" )</a>, style: "wgWidth20 wgRight" )
                    ),
                        tableStyle: "WebGridTable",
                        headerStyle: "WebGridHeader",
                        rowStyle: "WebGridRow",
                        alternatingRowStyle: "WebGridRowAlt",
                        footerStyle: "WebGridFooter",
                        emptyRowCellValue: "N/A"
                    )
                }
                else
                {
                    <p>There are currently no menu items.</p>
                }
            </div>
            <div style="text-align:right;margin-bottom:10px;">
                <div class="orangeButton" style="margin-right:10px;"><a href="@Href( "~/Business/MenuItemSequence" )" class="button">Sequence</a></div>
                <div class="orangeButton"><a href="@Href( "~/Business/MenuItemNew" )" class="button">Add Item</a></div>
            </div>

            <!-- GALLERY ITEMS  -->
            <br />
            <h2>Image Gallery</h2>
            <div id="GalleryGridPanel" class="WebGrid">
                @if ( rsGal.Any( ) )
                {
                    @galGrid.GetHtml(
                    columns: galGrid.Columns(
                    galGrid.Column( "GalID", "Delete", format: @<a href="javascript: if(confirm('Are you sure you want to delete this gallery image?')){ window.location='@Href( "~/Business/GalleryItemDelete.ashx?galID=" + item.GalID )';}" title="Delete Image"><img src="/images/RedClose.png" width="16" height="16" alt="Delete" border="0" /></a>, style:"wgWidth10 wgCenter"),
                    galGrid.Column( "GalSeq", "Sequence", format: @<a href="@Href( "~/Business/GalleryItemModify/" + item.GalID )" title="Edit Image">@item.GalSeq</a>, style:"wgWidth70 wgCenter"),
                    galGrid.Column("GalGuid", "Image",  format: @<a href="@Href( "~/Business/GalleryItemModify/" + item.GalID )" title="Edit Image"><img src="/BusinessGallery/@(item.GalGuid).png?t=@(imageTicks)" style="width:200px; height:auto;" alt="Gallery Image" border="0" /></a>, style: "wgWidth20 wgCenter" )
                    ),
                        tableStyle: "WebGridTable",
                        headerStyle: "WebGridHeader",
                        rowStyle: "WebGridRow",
                        alternatingRowStyle: "WebGridRowAlt",
                        footerStyle: "WebGridFooter",
                        emptyRowCellValue: "N/A"
                    )
                }
                else
                {
                    <p>There are currently no gallery images.</p>
                }
            </div>
            <div style="text-align:right;margin-bottom:10px;">
                <div class="orangeButton" style="margin-right:10px;"><a href="@Href( "~/Business/GalleryItemSequence" )" class="button">Sequence</a></div>
                <div class="orangeButton"><a href="@Href( "~/Business/GalleryItemNew" )" class="button">Add Image</a></div>
            </div>

            <!-- SPECIALS AND EVENTS  -->
            <br />
            <h2>Messaging</h2>
            <div id="MsjGridPanel" class="WebGrid">
            @if( rsMsj.Any() )
            {
                @msjGrid.GetHtml(
                    columns: evtGrid.Columns( 
                    msjGrid.Column("MsgSummary", "Summary",  format: @<a href="@Href( "~/Business/MessageJob/" + item.MsjID )" title="Edit Message">@WebConvert.Truncate(item.MsgSummary,60)</a>, style:"wgWidth50 wgLeft"),
                    msjGrid.Column("RolName", "To",  format: @<a href="@Href( "~/Business/MessageJob/" + item.MsjID )" title="Edit Message">@item.RolName</a>, style:"wgWidth15 wgCenter"),
                    msjGrid.Column("MsjName", "Status",  format: @<a href="@Href( "~/Business/MessageJob/" + item.MsjID )" title="Edit Message">@item.MjsName</a>, style:"wgWidth15 wgCenter"),
                    msjGrid.Column("MsjSendTS", "When",  format: @<a href="@Href( "~/Business/MessageJob/" + item.MsjID )" title="Edit Message">@item.MsjSendTS.ToShortDateString() - @item.MsjSendTS.ToShortTimeString()</a>, style:"wgWidth20 wgCenter")
                ),
                    tableStyle: "WebGridTable",
                    headerStyle: "WebGridHeader",
                    rowStyle: "WebGridRow",
                    alternatingRowStyle: "WebGridRowAlt",
                    footerStyle: "WebGridFooter",
                    emptyRowCellValue: "N/A"
                )
            }
            else
            {
                <p>There are currently no messages pending for delivery.</p>
            }
            </div>
            <div style="text-align:right;margin-bottom:10px;">
                <div class="orangeButton" style="margin-right:10px;"><a href="@Href( "~/Business/MessageJobs" )" class="button">All Messages</a></div>
                <div class="orangeButton"><a href="@Href( "~/Business/MessageJobNew" )" class="button">New Message</a></div>
            </div>
            <!-- LOCATIONS -->
            <br />
            <h2>Locations</h2>
            <div id="LocationGridPanel" class="WebGrid">
                @locGrid.GetHtml(
                    columns: locGrid.Columns(
                    locGrid.Column("LocName", "Name",  format: @<a href="@Href( "~/Business/Location/" + item.LocID )" title="View Location">@item.LocName</a>, style:"wgWidth25 wgLeft"),
                    locGrid.Column("LocAddress", "Address",  format: @<a href="@Href( "~/Business/Location/" + item.LocID )" title="View Location">@item.LocAddress @item.LocCity, @item.LocState @item.LocZip</a>, style:"wgWidth45 wgLeft"),
                    locGrid.Column("LocPhone", "Phone",  format: @<a href="@Href( "~/Business/Location/" + item.LocID )" title="View Location">@Phone.Format(item.LocPhone)</a>, style:"wgWidth20 wgCenter"),
                    locGrid.Column("", "Map",  format: @<a href="http://maps.google.com/maps?q=@(item.LocAddress),@(item.LocCity),@(item.LocState),@(item.LocZip)" target="_blank" title="View Map">MAP</a>, style:"wgWidth10 wgCenter")
                ),
                    tableStyle: "WebGridTable",
                    headerStyle: "WebGridHeader",
                    rowStyle: "WebGridRow",
                    alternatingRowStyle: "WebGridRowAlt",
                    footerStyle: "WebGridFooter",
                    emptyRowCellValue: "N/A"
                )
            </div>
            <!-- PINS -->
            <br />
            <h2>Pins</h2>
            <div id="PinsGridPanel" class="WebGrid">
            @if( rsPin.Any() )
            {
                @pinGrid.GetHtml(
                    columns: pinGrid.Columns(
                    locGrid.Column("PinName", "Name",  format: @<a href="@Href( "~/Business/Pins/" + item.PinID )" title="View Pin">@item.PinName</a>, style:"wgWidth40 wgLeft"),
                    locGrid.Column("PinNumber", "Number",  format: @<a href="@Href( "~/Business/Pins/" + item.PinID )" title="View Pin">@item.PinNumber</a>, style:"wgWidth30 wgLeft"),
                    locGrid.Column("PinEnabled", "Enabled",  format: @<a href="@Href( "~/Business/Pins/" + item.PinID )" title="View Pin">@(( item.PinEnabled ) ? "Yes" : "No" )</a>, style:"wgWidth10 wgCenter"),
                    locGrid.Column("PinTS", "Date Created",  format: @<a href="@Href( "~/Business/Pins/" + item.PinID )" title="View Pin">@item.PinTS.ToShortDateString( )</a>, style:"wgWidth20 wgCenter")
                ),
                    tableStyle: "WebGridTable",
                    headerStyle: "WebGridHeader",
                    rowStyle: "WebGridRow",
                    alternatingRowStyle: "WebGridRowAlt",
                    footerStyle: "WebGridFooter",
                    emptyRowCellValue: "N/A"
                )
            }
            else
            {
                <p>There are currently no pins for this business.</p>
            }
            </div>
            <div style="text-align:right;margin-bottom:10px;">
                <div class="orangeButton"><a href="@Href( "~/Business/PinsNew" )" class="button">Add Pin</a></div>
            </div>
            <br />

            <!-- OPT OUTS -->
            <br />
            <h2>Opt Outs</h2>
            @if (rsOpt.Any())
            {
                <div id="OptGridPanel" class="WebGrid">
                    @optGrid.GetHtml(
                            columns: webGrid.Columns(
                            optGrid.Column("AccName", "Account", format: @<text>@(item.AccFName + " " + item.AccLName)</text>, style: "wgWidth70 wgLeft"),
                            optGrid.Column("OptTS", "Timestamp", format:  @<text>@(item.OptTS.ToShortDateString() + " - " + item.OptTS.ToShortTimeString())</text>, style: "wgWidth30 wgCenter")
                        ),
                        tableStyle: "WebGridTable",
                        headerStyle: "WebGridHeader",
                        rowStyle: "WebGridRow",
                        alternatingRowStyle: "WebGridRowAlt",
                        footerStyle: "WebGridFooter",
                        mode: WebGridPagerModes.All,
                        firstText: "First Page",
                        lastText: "Last Page",
                        numericLinksCount: 10,
                        emptyRowCellValue: "N/A"
                    )
                </div>
            }
            else
            {
                <p>There are currently no opt outs for this business.</p>
            }
            <h2 style="margin-top:20px;">Support</h2>
            <div class="dashboardActivityBox" style="padding-top:10px;padding-bottom:10px;">
                <div style="float:left;margin-right:10px; ">
                    <div style="text-align:center;">
                        <div style="background-color:white;margin-top:0px; margin-left:10px;padding:10px; border-radius:10px;height:80px;">
                            <img src="@SiteAccount.AccountAvatarURL(siteBusinessInfo.BusRepEMail, 80)" width="80" height="80" alt="" />
                        </div>
                    </div>
                </div>
                <div style="float:left; width:310px;margin-right:10px;height:80px;">
                    <div style="text-align:center;">
                        <div style="background-color:white;margin-top:0px; padding:10px; border-radius:10px;">
                            <div style="margin-top:5px;font-size:12px; font-weight:bold;">YOUR PERSONAL UTC REPRESENTATIVE</div>
                            <div style="margin-top:5px;font-size:12px; font-weight:normal;">@(siteBusinessInfo.BusRepFName + " " + siteBusinessInfo.BusRepLName)</div>
                            <div style="margin-top:5px;font-size:12px; font-weight:normal;">@(siteBusinessInfo.BusRepPhone)</div>
                            <div style="margin-top:5px;font-size:10px;font-weight:normal;"><a href="mailto:" + @siteBusinessInfo.BusRepEMail +"\">@siteBusinessInfo.BusRepEMail</a></div>
                        </div>
                    </div>
                </div>
                <div style="float:left; width:310px;margin-right:10px;height:80px;">
                    <div style="text-align:center;">
                        <div style="background-color:white;margin-top:0px; padding:10px; border-radius:10px;">
                            <div style="margin-top:5px;font-size:12px; font-weight:bold;">UNITE THIS CITY</div>
                            <div style="margin-top:5px;font-size:12px; font-weight:normal;">@(SiteSettings.GetValue("SupportAddress"))</div>
                            <div style="margin-top:5px;font-size:12px; font-weight:normal;">@(SiteSettings.GetValue("SupportPhone"))</div>
                            <div style="margin-top:5px;font-size:10px;font-weight:normal;"><a href="mailto:" + @SiteSettings.GetValue("SupportEMail") +"\">@SiteSettings.GetValue("SupportEMail")</a></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<br style="clear:left;" />
	</div>