@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Location Modify");
    
    // make sure the user is logged in
    if ( !SiteAccount.IsLoggedIn() )
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    int locID = WebConvert.ToInt32(UrlData[0], 0);

    SiteBusiness siteBusiness = new SiteBusiness();

    SiteLocationInfo siteLocationInfo = new SiteLocationInfo(locID);
    
    WebDBContext db = new WebDBContext();

    // get the states for the state dropdownlist
    var rsSta = db.TblStates.Where(target => target.StaID == 36).OrderBy( target => target.StaName );

    if (IsPost)
    {
        string locName = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtLocName"], ""), 50);
        string locAddress = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtLocAddress"], ""), 50);
        string locCity = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtLocCity"], ""), 50);
        string locState = WebConvert.Truncate(WebConvert.ToString(Request.Form["selStaName"], ""), 50);
        string locZip = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtLocZip"], ""), 50);
        string locPhone = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtLocPhone"], ""), 50);
        string locLatitude = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtLocLatitude"], ""), 128);
        string locLongitude = WebConvert.Truncate(WebConvert.ToString(Request.Form["txtLocLongitude"], ""), 128);

        // save the changes to the location
        TblLocations rs = db.TblLocations.Single(target => target.LocID == locID);
        rs.LocName = WebConvert.Truncate(locName, 50);
        rs.LocAddress = WebConvert.Truncate(locAddress, 50);
        rs.LocCity = WebConvert.Truncate(locCity, 50);
        rs.LocState = WebConvert.Truncate(locState, 50);
        rs.LocZip = WebConvert.Truncate(locZip, 50);
        rs.LocPhone = WebConvert.Truncate(locPhone, 50);
        rs.LocLatitude = WebConvert.ToDouble( locLatitude, 0 );
        rs.LocLongitude = WebConvert.ToDouble( locLongitude, 0 );

        // sync to database
        db.SubmitChanges();
        
        // redirect to the dashboard
        Response.Redirect(Href("~/Business/Location/" + locID + "/Modify"), false);
        return;
    }
}
@section head
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=@(SiteSettings.GetValue( "GoogleMapsAPIKey" ))&sensor=false"></script>
	<script src="@Href( "~/Scripts/jquery.validate.min.js" )" type="text/javascript"></script>
	<script type="text/javascript">
	    var objGeocoder;

	    $(document).ready(function () {
	        var strLocIdentifier = BuildLocationIdentifier();
	        document.getElementById("txtLocIdentifier").value = strLocIdentifier;

	        $("#frm").validate(
			{
			    messages:
				{
				    txtLocName: { required: "required" },
				    txtLocAddress: { required: "required" },
				    txtLocCity: { required: "required" },
				    selStaName: { required: "required" },
				    txtLocZip: { required: "required" },
				    txtLocPhone: { required: "required" },
				    txtLocLatitude: { required: "required" },
				    txtLocLongitude: { required: "required" },
				    txtLocIdentifier: { required: "required" }
				}
			});
	    });

	    function BuildLocationIdentifier() {
	        var addrResult = "";

	        if (obj = document.getElementById("txtLocAddress")) {
	            if (obj.value != "") {
	                addrResult += (addrResult != "") ? ", " : "";
	                addrResult += obj.value;
	            }
	        }
	        if (obj = document.getElementById("txtLocCity")) {
	            if (obj.value != "") {
	                addrResult += (addrResult != "") ? ", " : "";
	                addrResult += obj.value;
	            }
	        }
	        if (obj = document.getElementById("selStaName")) {
	            if (obj.value != "") {
	                addrResult += (addrResult != "") ? ", " : "";
	                addrResult += obj.value;
	            }
	        }
	        if (obj = document.getElementById("txtLocZip")) {
	            if (obj.value != "") {
	                addrResult += (addrResult != "") ? ", " : "";
	                addrResult += obj.value;
	            }
	        }

	        return addrResult;
	    }

	    function SetLocationCoords() {
	        objGeocoder = new google.maps.Geocoder();
	        var strLocIdentifier = "";
	        var latlng = "";
	        var longitude = 0;
	        var latitidue = 0;

	        strLocIdentifier = BuildLocationIdentifier();
	        document.getElementById("txtLocIdentifier").value = strLocIdentifier;

	        objGeocoder.geocode({ 'address': strLocIdentifier }, function (results, status) {
	            if (status == google.maps.GeocoderStatus.OK) {
	                document.getElementById("txtLocLatitude").value = results[0].geometry.location.lat();
	                document.getElementById("txtLocLongitude").value = results[0].geometry.location.lng();
	            } else {
	                alert("Geocode was not successful for the following reason: " + status);
	            }
	        });
	    }

	    function SetLocation() {
	        document.getElementById("LocLookupLink").href = "http://maps.google.com/maps?q=" + document.getElementById("txtLocIdentifier").value;
	    }
	</script>
}
	<!-- PAGE -->
	<div id="page">
        <!-- BREAD CRUMBS -->
        <div class="breadcrumbs Roles">
            <div class="breadcrumbGray"><a href="@Href( "~/Account/" )">Account Dashboard</a></div>
			<div class="breadcrumbSpacerGrayGray">&nbsp;</div>
            <div class="breadcrumbGray"><a href="@Href( "~/Business/Dashboard" )">Business Dashboard</a></div>
			<div class="breadcrumbEndGray">&nbsp;</div>
        </div>
		<div id="fullSide">
			<h1>@HttpUtility.HtmlEncode(siteBusiness.BusName): @Html.Raw( Page.SitePage.Heading )</h1>
            @Html.Raw(Page.SitePage.Body)
            <form name="frm" id="frm" method="post" class="basicForm">
                <fieldset style="width:474px;">
                    <div>
                        <label for="txtLocName">Location Name: *</label><br />
                        <input type="text" name="txtLocName" id="txtLocName" class="required" size="20" maxlength="50" style="width:330px;" value="@siteLocationInfo.LocName" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtLocAddress">Address: *</label><br />
                        <input type="text" name="txtLocAddress" id="txtLocAddress" class="required" size="20" maxlength="50" style="width:432px;" value="@siteLocationInfo.LocAddress" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtLocCity">City: *</label><br />
                        <input type="text" name="txtLocCity" id="txtLocCity" class="required" size="20" maxlength="50" value="@siteLocationInfo.LocCity" />
                    </div>
                    <div>
                        <label for="selStaName">State: *</label><br />
                        <select name="selStaName" id="selStaName" class="required" style="width:212px;">
                            <option value="">Select...</option>
                        @foreach( var row in rsSta )
                        {
                            <option value="@row.StaName" @( (row.StaName == siteLocationInfo.LocState ) ? " selected" : "" )>@(row.StaName)</option>
                        }
                        </select>
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtLocZip">Zip: *</label><br />
                        <input type="text" name="txtLocZip" id="txtLocZip" class="required" size="20" maxlength="50" value="@siteLocationInfo.LocZip" />
                    </div>
                    <div>
                        <label for="txtLocPhone">Phone: *</label><br />
                        <input type="text" name="txtLocPhone" id="txtLocPhone" class="required" size="20" maxlength="50" value="@siteLocationInfo.LocPhone" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <br />
                    <h2>Google Map</h2>
                    <p>If you are updating the address, then you must click the "Set Location Coords" link so that the Google map will show the updated address.</p>
                    <div>
                        <label for="txtLocPhone">Latitude, Longitude: *</label>
                        &nbsp;
				        <a href="http://maps.google.com" onclick="javascript: SetLocationCoords(); return false;" ID="SetCoordsButton">Set Location Coords</a>
                        <br />
                        <input type="text" name="txtLocLatitude" id="txtLocLatitude" class="required" size="20" maxlength="128" value="@siteLocationInfo.LocLatitude" />
                        <input type="text" name="txtLocLongitude" id="txtLocLongitude" class="required" size="20" maxlength="128" value="@siteLocationInfo.LocLongitude" />
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div>
                        <label for="txtLocIdentifier">Location Identifier:</label><br />
                        <input type="text" name="txtLocIdentifier" id="txtLocIdentifier" class="required" size="20" maxlength="50" style="width:330px;" value="" />
                        &nbsp;
				        <a href="http://maps.google.com" onclick="javascript:SetLocation();" ID="LocLookupLink" target="_blank">View Map</a>
                    </div>
                    <br style="clear:left;" />
                    <br />
                    <div style="float:none; margin-right:20px;">
                        <div class="orangeArrowButtonRight">
                            <input type="submit" name="_btnSubmit" value="Submit" class="button" />
                        </div>
                        <div class="orangeButtonRight">
                            <input type="button" name="_btnCancel" value="Cancel" class="button" onclick="javascript: window.location = '/Business/Location/@(locID)';" />
                        </div>
                    </div>
                </fieldset>
            </form>
		</div>
		<br style="clear:left;" />
	</div>