@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage( );
    Page.SitePage.ApplyName( "Menu Item Sequence" );

    // make sure the user is logged in
    if ( !SiteAccount.IsLoggedIn( ) )
    {
        Response.Redirect( Href( "~/AccountLogin" ), false );
        return;
    }

    WebDBContext db = new WebDBContext( );

    SiteBusiness siteBusiness = new SiteBusiness( );

    IEnumerable<TblMenuItems> menuItems =
        ( from rows in db.TblMenuItems
          where rows.BusID == siteBusiness.BusID
          orderby rows.MenSeq, rows.MenName
          select rows );

    if ( IsPost )
    {
        foreach ( var row in menuItems )
        {
            row.MenSeq = WebConvert.ToInt32( Request["txtMenSeq" + row.MenID], 0 );
        }

        // sync to database
        db.SubmitChanges( );

        // redirect to the dashboard
        Response.Redirect( Href( "~/Business/Dashboard?msg=Modify" ), false );
        return;
    }
}
@section head
{
    <script src="@Href( "~/Scripts/jquery.validate.min.js" )" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#frm").validate(
			{
			    messages:
				{
				    txtMenName: { required: "required" },
				    txtMenPrice: { required: "required" }
				}
			});
        });
    </script>
}
<!-- PAGE -->
<div id="page">
    <!-- BREAD CRUMBS -->
    <div class="breadcrumbs Roles">
        <div class="breadcrumbGray"><a href="@Href( "~/Account/" )">Account Dashboard</a></div>
        <div class="breadcrumbSpacerGrayGray">&nbsp;</div>
        <div class="breadcrumbGray"><a href="@Href( "~/Business/Dashboard" )">Business Dashboard</a></div>
        <div class="breadcrumbEndGray">&nbsp;</div>
    </div>
    <div id="fullSide">
        <h1>@HttpUtility.HtmlEncode( siteBusiness.BusName ): @Html.Raw( Page.SitePage.Heading )</h1>
        @Html.Raw( Page.SitePage.Body )


        <div class="NotificationBox">
            <div class="NotificationMessage">Menu items are ordered ascending by sequence, then by name. Enter 0 (zero) to order by name only.</div>
        </div>
        <form name="frm" id="frm" method="post" class="basicForm">
            <fieldset style="width:770px;">
                <table class="WebGridTable">
                    <thead>
                        <tr class="WebGridHeader">
                            <th scope="col">Sequence</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach ( var row in menuItems )
                        {
                            <tr class="WebGridRow">
                                <td class="wgWidth20 wgCenter">
                                    <input type="text" name="txtMenSeq@(row.MenID)" id="txtMenSeq@(row.MenID)" value="@(row.MenSeq)" maxlength="5" class="required" style="width: 100px; text-align: center;" />
                                </td>
                                <td class="wgWidth60 wgLeft">@(row.MenName)</td>
                                <td class="wgWidth20 wgRight">@(row.MenPrice.ToString( "C" ))</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div style="float:none; margin-right:0px;">
                    <div class="orangeButtonRight">
                        <input type="submit" name="_btnSubmit" value="Submit" class="button" />
                    </div>
                    <div class="orangeButtonRight">
                        <input type="button" name="_btnCancel" value="Cancel" class="button" onclick="javascript: window.location = '/Business/Dashboard';" />
                    </div>
                </div>
                <legend></legend>
            </fieldset>
        </form>
    </div>
    <br style="clear:left;" />
</div>