@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Message");
    
    // make sure the user is logged in
    if ( !SiteAccount.IsLoggedIn() )
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    // get the message from the query string ( form submission message )
    string msg = WebConvert.ToString(Request.QueryString["Msg"], "");
    
    int msjID = WebConvert.ToInt32(UrlData[0], 0);

    WebDBContext db = new WebDBContext();

    SiteBusiness siteBusiness = new SiteBusiness();

    SiteBusinessInfo siteBusinessInfo = new SiteBusinessInfo(siteBusiness.BusID);

    // get the message job to edit / delete - make sure that it is associated with the active business
    SiteMessageJob siteMessageJob = new SiteMessageJob(msjID);
    if (siteMessageJob.BusID != siteBusiness.BusID)
    {
        throw new Sancsoft.Web.WebException(Sancsoft.Web.RC.AccessDenied);
    }

    // get this job for display of properties
    IEnumerable<VwMessageJobs> rsMsj = db.VwMessageJobs.Where(target => target.BusID == siteBusiness.BusID && target.MsjID == msjID);

    // build the webgrid for display of the events
    WebGrid msjGrid = new WebGrid(rsMsj, fieldNamePrefix: "msj");
}
	<!-- PAGE -->
	<div id="page">
        <!-- BREAD CRUMBS -->
        <div class="breadcrumbs Roles">
            <div class="breadcrumbGray"><a href="@Href( "~/Account/" )">Account Dashboard</a></div>
			<div class="breadcrumbSpacerGrayGray">&nbsp;</div>
            <div class="breadcrumbGray"><a href="@Href( "~/Business/Dashboard" )">Business Dashboard</a></div>
			<div class="breadcrumbSpacerGrayGray">&nbsp;</div>
            <div class="breadcrumbGray"><a href="@Href( "~/Business/MessageJobs")">Messaging</a></div>
			<div class="breadcrumbEndGray">&nbsp;</div>
        </div>
		<div id="fullSide">
			<h1>@HttpUtility.HtmlEncode(siteBusiness.BusName): @Html.Raw( Page.SitePage.Heading )</h1>
            @Html.Raw( Page.SitePage.Body )
            <div id="MsjGridPanel" class="WebGrid">
            @msjGrid.GetHtml(
                columns: msjGrid.Columns( 
                msjGrid.Column("RolName", "Send To",  format: @<text>@item.RolName</text>, style:"wgWidth25 wgCenter"),
                msjGrid.Column("MsjName", "Status",  format: @<text>@item.MjsName</text>, style:"wgWidth25 wgCenter"),
                msjGrid.Column("MsjSendTS", "Time to Send",  format: @<text>@item.MsjSendTS.ToShortDateString() - @item.MsjSendTS.ToShortTimeString()</text>, style:"wgWidth25 wgCenter"),
                msjGrid.Column("MsgTS", "Time sent",  format: @<text>@((item.MjsID == (int)MessageJobStates.Sent) ? @item.MsgTS.ToShortDateString() + " - " +  @item.MsgTS.ToShortTimeString() : "n/a")</text>, style:"wgWidth25 wgCenter")
            ),
                tableStyle: "WebGridTable",
                headerStyle: "WebGridHeader",
                rowStyle: "WebGridRow",
                alternatingRowStyle: "WebGridRowAlt",
                footerStyle: "WebGridFooter",
                emptyRowCellValue: "N/A"
            )
            </div>
            <div style="text-align:right;margin-bottom:10px;">
                @if (siteMessageJob.CanUserEdit())
                {
                    <div class="orangeButton" style="margin-right:10px;"><a href="@Href("~/Business/MessageJobEdit/" + msjID)" class="button">Modify</a></div>
                }
                @if (siteMessageJob.CanUserCancel())
                {
                    <div class="orangeButton" style="margin-right:10px;"><a href="@Href("~/Business/MessageJobCancel/" + msjID)" class="button">Don't Send</a></div>
                }
                @if (siteMessageJob.CanUserSend())
                {
                    <div class="orangeButton" style="margin-right:10px;"><a href="@Href("~/Business/MessageJobSend/" + msjID)" class="button">Send</a></div>
                }
            </div>
            <h2>@siteMessageJob.MsgSummary</h2>
            <hr />
            <div style="min-height:150px;">
                <div>@Html.Raw(WebConvert.PreserveBreaks(siteMessageJob.MsgBody))</div>
                <div style="text-align:right;font-style:italic;">- @siteMessageJob.MsgFromName</div>
                <div style="text-align:right;">@siteMessageJob.MsgTS.ToShortDateString() - @siteMessageJob.MsgTS.ToShortTimeString()</div>
            </div>
    		<br style="clear:left;" />
		</div>
		<br style="clear:left;" />
	</div>