@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage();
    Page.SitePage.ApplyName("Recurring Events");
    
    // make sure the user is logged in
    if ( !SiteAccount.IsLoggedIn() )
    {
        Response.Redirect(Href("~/AccountLogin"), false);
        return;
    }

    // get the message from the query string ( form submission message )
    string msg = WebConvert.ToString(Request.QueryString["Msg"], "");

    SiteBusiness siteBusiness = new SiteBusiness();

    SiteBusinessInfo siteBusinessInfo = new SiteBusinessInfo(siteBusiness.BusID);

    WebDBContext db = new WebDBContext();
    
    // get the past specials and events
    IEnumerable<VwEventJobs> rsEvj = db.VwEventJobs.Where(target => target.BusID == siteBusiness.BusID).OrderBy(target => target.EvjID);

    // build the webgrid for display of the events
    WebGrid evjGrid = new WebGrid(rsEvj, fieldNamePrefix: "evj");

}
	<!-- PAGE -->
	<div id="page">
        <!-- BREAD CRUMBS -->
        <div class="breadcrumbs Roles">
            <div class="breadcrumbGray"><a href="@Href( "~/Account/" )">Account Dashboard</a></div>
			<div class="breadcrumbSpacerGrayGray">&nbsp;</div>
            <div class="breadcrumbGray"><a href="@Href( "~/Business/Dashboard" )">Business Dashboard</a></div>
			<div class="breadcrumbEndGray">&nbsp;</div>
        </div>
		<div id="fullSide">
			<h1>@HttpUtility.HtmlEncode(siteBusiness.BusName)</h1>
            @Html.Raw( Page.SitePage.Body )
            <!-- SPECIALS AND EVENTS  -->
            <h2>Recurring Specials and Events</h2>
            <p>Recurring specials and events are used to automatically generate new entries on a periodic basis that share the same summary and contents.  The defined recurring events are processed on a 
                daily basis with new events created according the specified schedule.
            </p>
            <!-- NOTIFICATION BOX -->
            @if(msg == "Modify")
            {
                <div class="NotificationBox Green">
                    <div class="NotificationMessage">Your business information has been updated</div>
                    <div class="NotificationClose"></div>
                </div>
                <br />
            }
            <div id="EventGridPanel" class="WebGrid">
            @if( rsEvj.Any() )
            {
                @evjGrid.GetHtml(
                    columns: evjGrid.Columns(
                    evjGrid.Column("EvjName", "Name",  format: @<a href="@Href( "~/Business/EventJobs/" + item.EvjID )" title="Edit Recurring Event">@item.EvjName</a>, style:"wgWidth:20 wgLeft"),
                    evjGrid.Column("EjtName", "Period",  format: @<a href="@Href( "~/Business/EventJobs/" + item.EvjID )" title="Edit Recurring Event">@item.EjtName</a>, style:"wgWidth:15 wgCenter"),
                    evjGrid.Column("EvjEnabled", "Active",  format: @<a href="@Href( "~/Business/EventJobs/" + item.EvjID )" title="Edit Recurring Event">@((item.EvjEnabled) ? "Yes" : "No")</a>, style:"wgWidth:15 wgCenter"),
                    evjGrid.Column("EvjBeginDate", "Date Range",  format: @<a href="@Href( "~/Business/EventJobs/" + item.EvjID )" title="Edit Event">@SiteEvent.EventDateToString(item.EvjBeginDate, item.EvjStopDate)</a>, style:"wgWidth20 wgCenter"),
                    evjGrid.Column("EvjSummary", "Summary",  format: @<a href="@Href( "~/Business/EventJobs/" + item.EvjID )" title="Edit Event">@WebConvert.Summarize(item.EvjSummary, 30)</a>, style:"wgWidth30 wgLeft")
                ),
                    tableStyle: "WebGridTable",
                    headerStyle: "WebGridHeader",
                    rowStyle: "WebGridRow",
                    alternatingRowStyle: "WebGridRowAlt",
                    footerStyle: "WebGridFooter",
                    emptyRowCellValue: "N/A"
                )
            }
            else
            {
                <p>There are currently no recurring events defined.</p>
            }
            </div>
            <div style="text-align:right;margin-bottom:10px;">
                <div class="orangeButton"><a href="@Href( "~/Business/EventJobsNew" )" class="button">Add Recurring</a></div>
            </div>
		</div>
		<br style="clear:left;" />
	</div>