@{

}
	<!-- HEADER -->
	<div id="headerWrapper">
		<div id="header">
			<div id="logo"><a href="@Href( "~/" )" title="Home"><img src="@Href( "~/images/logo.png" )" width="380" height="100" alt="Home" /></a></div>
			<div id="nowServing"><a href="mailto:info@unitethiscity.com"><img src="@Href( "~/images/nowServing.png" )" width="133" height="36" alt="Home" /></a></div>
			<div class="followUsContainer">
				<div class="followUsText">Follow Us</div>
				<div class="followTwitter"><a href="https://twitter.com/UniteThisCity" target="_blank" title="Twitter"><img src="@Href("~/images/iconTwitter.png")" width="27" height="22" alt="Twitter" /></a></div>
				<div class="followFacebook"><a href="http://www.facebook.com/UniteThisCity?fref=ts" target="_blank" title="Facebook"><img src="@Href("~/images/iconFacebook.png")" width="11" height="22" alt="Facebook" /></a></div>
				<br style="clear:left;" />
			</div>
            <!-- ACCOUNT LOGGED IN -->
            @if (SiteAccount.IsLoggedIn())
            {
                <div style="position:absolute; top:98px; right:128px;">
                    <a href="@Href( "~/Account/" )">@(CookieManager.SesAccName)</a>
                </div>
                <div style="position:absolute; top:94px; right:98px;">
                    <a href="@Href( "~/Account/" )"><img src="@SiteAccount.ActiveAvatarURL(24)" width="24" height="24" alt="" style="padding:0px; margin:0px; margin-left:5px; border:1px solid #808080;" /></a>
                </div>
            }
		</div>
	</div>