<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="copyright" content="Copyright (c) 1994-@DateTime.Now.Year - )|( Sanctuary Software Studio, Inc." />
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="Shortcut Icon" href="@Href( "~/favicon.ico" )" />
    <link rel="Stylesheet" href="@Href( "~/Styles/unitethiscity.css" )" />
    <link rel="Stylesheet" href="@Href( "~/Styles/mobile-components.min.css" )" />
    <link rel="Stylesheet" href="@Href( "~/Styles/responsive-utc.min.css" )" />
    <script type="text/javascript" src="@Href( "~/Scripts/jquery-1.8.2.min.js" )"></script>
	<script type="text/javascript" src="@Href( "~/Scripts/utility.js" )"></script>
	<script type="text/javascript" src="@Href( "~/Scripts/modernizr-2.6.2.js" )"></script>
    <script type="text/javascript" src="@Href( "~/Scripts/responsive.min.js" )"></script>

	<title>@Page.SitePage.Title</title>
	<meta name="keywords" content="@Page.SitePage.Keywords" />
	<meta name="description" content="@Page.SitePage.Description" />
    <meta property="og:image" content="@Page.SitePage.OpenGraphImageURI"/>
    <meta property="og:image:secure_url" content="@Page.SitePage.SecureOpenGraphImageURI" />
    @RenderSection("head", required: false)
</head>
<body>
    @RenderPage("~/Shared/_HeaderMobile.cshtml")
    @RenderPage("~/Shared/_Header.cshtml")
    @RenderPage( "~/Shared/_Navigation.cshtml" )
    @RenderBody( )
    @RenderPage( "~/Shared/_Footer.cshtml" )
    @RenderPage( "~/Shared/_Google.cshtml" )
    @RenderPage("~/Shared/_OWA.cshtml")
</body>
</html>