<!-- MEMBER TABS -->
<div style="text-align:right;margin-bottom:10px;">
    <div class="orangeButton rightButton"><a href="@Href("~/Member/Tips")" class="button">Reviews</a></div>
    <div class="orangeButton rightButton"><a href="@Href("~/Member/Ratings")" class="button">Ratings</a></div>
    <div class="orangeButton rightButton"><a href="@Href("~/Member/Favorites")" class="button">Favorites</a></div>
    <div class="orangeButton rightButton"><a href="@Href("~/Member/Checkins")" class="button">Loyalty</a></div>
    <div class="orangeButton rightButton"><a href="@Href("~/Member/Redemptions")" class="button">Social</a></div>
</div>

