@{
    // get the navigation components out of the Page data
    List<VwNavigation> navList = Page.NavList;

    // get the main navigation for the web site by finding root elements
    IEnumerable<VwNavigation> rsMainNav =
        from nav in navList
        where ( nav.PagParentID == Page.SitePage.HomePageID || nav.PagID == 1 ) && (nav.PagPublished == true)
        orderby nav.PagSequence
        select nav;

    // get the active site section
    int sectionID = Page.SitePage.SectionPageID;
}
@helper MapChildren( int pagid, List<VwNavigation> navItems )
{
    List<VwNavigation> childList = navItems.Where(rows => rows.PagPublished == true && rows.PagParentID == pagid && rows.PagParentID != 1 ).OrderBy(target => target.PagSequence).ToList();
    if( childList.Any() )
    {
            int count = 0;
            <div class="navArrow"><div>&nbsp;</div></div>
        if( pagid == 2 )
        {
	        @:<div class="navDropDown About">
        }
        else if( pagid == 3 )
        {
	        @:<div class="navDropDown Become">
        }
        else if(pagid == 4)
        {
	        @:<div class="navDropDown Business">
        }
        else if(pagid == 5)
        {
	        @:<div class="navDropDown Giving">
        }
        else
        {
	        @:<div class="navDropDown">
        }
                foreach( VwNavigation child in childList )
                {
                    if( count != 0 )
                    {
                        <div class="navLine"></div>
                    }
		            <div><a href="@Href( "~/" + Path.GetFileNameWithoutExtension( child.PagFilename ) )" class="@(( Page.SitePage.PageID == child.PagID ) ? "Here" : "")">@Html.Raw( child.PagNavName )</a></div>
                    count = count + 1;   
                }
            @:</div>
    }
}
	<!-- MAIN NAVIGATION -->
	<div id="navigationWrapper">
		<div id="navigationContainer">
        @foreach (var mainnav in rsMainNav)
        {
			<div class="@(( Page.SitePage.SectionPageID == mainnav.PagID ) ? "navSectionHere" : "navSection")">
             @if( mainnav.PagID == 1 || mainnav.PagID == 43 || mainnav.PagID == 7 )
             {
				<a href="@Href( "~/" + Path.GetFileNameWithoutExtension( mainnav.PagFilename ) )">@Html.Raw( mainnav.PagNavName )</a>
                @MapChildren( mainnav.PagID, navList )
             }
             else
             {
				@Html.Raw( mainnav.PagNavName )
                @MapChildren( mainnav.PagID, navList )
             }
			</div>
        }
			<br style="clear:left;" />
		</div>
	</div>